<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:xhtml="http://www.w3.org/1999/xhtml">
     <url>
    <loc>https://www.bycouturier.com/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="https://www.bycouturier.com/de/"/>
    <xhtml:link rel="alternate"
                 hreflang="en"
                 href="https://www.example.com/"
                 />
  </url>
  
  <url>
    <loc>https://www.bycouturier.com/de/</loc>
    <xhtml:link 
                 rel="alternate"
                 hreflang="en"
                 href="https://www.bycouturier.com/"
                 />
<xhtml:link 
                 rel="alternate"
                 hreflang="de"
                 href="https://www.bycouturier.com/de/"
                 />
  </url>  

</urlset>
