<script type="text/javascript" src="<?=__JS__?>/jquery.validate.min.js"></script>
<style>
    .connenct_accounts li{
        text-align: center;
        float: left;
    }
    .other_user .login_gg{
        margin-top: 26px;
        width: 289px;
        height: 59px;
        text-align: center;
        font-size: 20px;
        text-indent: 40px;
        color:#fff;
        line-height: 59px;
        background-image: url('<?=__IMG__?>/tt222.png');
    }
    .other_user .login_fb{
        margin-top: 26px;
        width: 289px;
        height: 59px;
        font-size: 20px;
        text-indent: 63px;
        color:#fff;
        line-height: 59px;
        margin-bottom: 10px;
        background-image: url('<?=__IMG__?>/feacebook_icon2.jpg');
    }
    .login_gg{
        margin-top: 26px;
        width: 289px;
        height: 59px;
        text-align: center;
        font-size: 20px;
        text-indent: 40px;
        color:#fff;
        line-height: 59px;
        background-image: url('<?=__IMG__?>/tt222.png');
    }
    .login_fb{
        margin-top: 26px;
        width: 289px;
        height: 59px;
        font-size: 20px;
        text-indent: 63px;
        color:#fff;
        line-height: 59px;
        margin-bottom: 10px;
        background-image: url('<?=__IMG__?>/feacebook_icon2.jpg');
    }
</style>
    <div class="user_con_bd_box">
        <div class="user_title"><?=\YII::t('common','Connect Accounts')?></div>
        <div class="user_con_bd connenct_accounts_box">
            <div class="connenct_accounts">
                <h3><?=\YII::t('common','ConnectAccounts')?></h3>
                <ul>
                    <li style='margin-left: 140px;'<?=in_array('facebook', $account_list) ? 'class="on"' : '';?>>
                    <a rel="nofollow" href="javascript:void(0);" <?=in_array('facebook', $account_list) ? '' : 'onclick="bindFacebook()"';?>>
                        <!--<img src="<?=__IMG__?>/<?=\YII::t('common','img_feacebook_icon')?>" alt="">-->
                    <h3><i></i>
                        <?=in_array('facebook', $account_list) ? \YII::t('common','Connected') : \YII::t('common','NotConnected');?>
                    </h3>
                    <div class="login_fb"><?=Yii::t('shop', 'Connect with Facebook')?></div>

                    </a>
                    </li>
                    <li <?=in_array('google', $account_list) ? 'class="on"' : '';?>>
                    <a rel="nofollow" href="javascript:void(0);" <?=in_array('google', $account_list) ? '' : 'onclick="bindGoogle()"';?>>
                        <!--<img src="<?=__IMG__?>/<?=\YII::t('common','img_google_icon')?>" alt="">-->
                    <h3><i></i><?=in_array('google', $account_list) ? \YII::t('common','Connected') : \YII::t('common','NotConnected');?></h3>
                    <div class="login_gg"><?=Yii::t('shop', 'Connect with Google')?></div>

                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


<script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=<?=FB_VERSION?>&appId=<?=FB_APPID?>"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=<?=FB_VERSION?>&appId=<?=FB_APPID?>";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

    <script>

        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '<?=GG_APPID?>'
                })
            });
        }

        $('.gift_sub').click(function () {
            $('.layer_box').show();
        })
        $('.layer_box .bj,.copy_gift_sub').click(function () {
            $('.layer_box').hide();
        })

        function open_win(type)
        {
            if (type == "facebook")
            {
                open_url = "/user/login?type=facebook";
            }
            else
            {
                open_url = "/user/login?type=google";
            }

            var iTop = ($(window).height() - 500) / 1.5
            var iLeft = ($(window).width() - 710) / 2;

            var win = window.open(open_url, "_blank", "width=700, height=500,top=" + iTop + ",left=" + iLeft);

            t = setInterval((function (win) {
                return function () {
                    if (win.closed)
                    {
                        if ($.cookie("user_auth_sign").length > 0)
                        {
                            //win.close();
                            window.location.reload();
                            clearInterval(t);
                        }
                    }
                };
            })(win), 1000);

        }
    </script>
    <script>

        function logInWithGoogle()
        {
            auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(googleSignInCallback);
        }

        function googleSignInCallback(authResult) {
            if (authResult['code']) {
                layer.msg('Logging...', {icon: 16, time: 0, shade: [0.7, '#000']});
                $.post("/login/googlecallBack", {code: authResult['code']}, function (result) {
                    layer.closeAll();
                    if (result.error > 0)
                    {
                        layer_alert(result.msg);
                    }
                    else
                    {
                        location.reload();
                    }
                })
            } else {
                layer_alert('获取Google Code错误.');
            }
        }

        function bindGoogle()
        {
            auth2.grantOfflineAccess({'redirect_uri': 'postmessage'}).then(googleBindCallback);
        }

        function googleBindCallback(authResult) {
            if (authResult['code']) {
                layer.msg('Logging...', {icon: 16, time: 0, shade: [0.7, '#000']});
                $.post("/login/bindgooglecallback", {code: authResult['code']}, function (result) {
                    layer.closeAll();
                    if (result.error > 0)
                    {
                        layer_alert(result.msg);
                    }
                    else
                    {
                        location.reload();
                    }
                })
            } else {
                layer_alert('获取Google Code错误.');
            }
        }

        bindFacebook = function () {
            FB.login(function (response) {
                if (response.authResponse) {
                    layer.msg('Logging...', {icon: 16, time: 0, shade: [0.7, '#000']});
                    $.post("/login/bindfacebookcallback", function (result) {
                        layer.closeAll();
                        if (result.error > 0)
                        {
                            layer_alert(result.msg);
                        }
                        else
                        {
                            location.reload();
                        }
                    })
                } else {
                    layer_alert('<?=\YII::t('common','cancelledAuthorize')?>');
                }
            }, {scope: 'email'});
            return false;
        };


        logInWithFacebook = function () {
            FB.login(function (response) {
                if (response.authResponse) {
                    layer.msg('Logging...', {icon: 16, time: 0, shade: [0.7, '#000']});
                    $.post("/login/facebookcallBack", function (result) {
                        layer.closeAll();
                        if (result.error > 0)
                        {
                            layer_alert(result.msg);
                        }
                        else
                        {
                            location.reload();
                        }
                    })
                } else {
                    layer_alert('<?=\YII::t('common','cancelledAuthorize')?>');
                }
            }, {scope: 'email'});
            return false;
        };


        window.fbAsyncInit = function () {
            FB.init({
                appId: '<?=FB_APPID?>',
                cookie: true, // This is important, it's not enabled by default
                version: '<?=FB_VERSION?>'
            });
        };
        start();
</script>
