    <div class="user_con_bd_box">
        <div class="user_con_bd payment_history">
            <div class="payment">
                <?php if(empty($payOrderInfo)){?>
                    <p style="font-size:24px; color:#000000;text-align: center;margin-top: 20px;font-family:constanb"><?=\YII::t('common','NoPrevious')?>
                    </p>
                <?php }else{ ?>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <table id="list_table" width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                                    <?php $i=0;?>
                                    <?php foreach($payOrderInfo as $vo){?>
                                    <?php $i++;?>
                                    <tr class="tr_item tr_item0<?=$i?>">
                                        <td class="item item01">
                                            <h2><?=\YII::t('common','Date')?> & <?=\YII::t('common','Time')?></h2>
                                            <p><?=date("M d,Y",$vo['createtime'])?><br /><?=date("H:i:s",$vo['createtime'])?></p>
                                        </td>
                                        <td class="item item02">
                                            <h2><?=\YII::t('common','Game')?></h2>
                                            <p>Clothes Forever</p>
                                        </td>
                                        <td class="item item03">
                                            <h2><?=\YII::t('common','Server')?></h2>
                                            <p><?=$vo['serverName']?></p>
                                        </td>
                                        <td class="item item04">
                                            <h2><?=\YII::t('common','Pack')?></h2>
                                            <p><?=$vo['mealName']?></p>
                                        </td>
                                        <td class="item item05">
                                            <h2><?=\YII::t('common','Price')?></h2>
                                            <p><?=$vo['price']?></p>
                                        </td>
                                        <td class="item item06">
                                            <h2><?=\YII::t('common','OrderId')?></h2>
                                            <p><?=$vo['orderid']?></p>
                                        </td>
                                        <td class="item item07">
                                            <h2><?=\YII::t('common','Status')?></h2>
                                            <p>
                                                <?php
                                                    if($vo['status']==1){
                                                        echo \YII::t('common','Completed');
                                                    }elseif($vo['status']==7){
                                                        echo \YII::t('common','Failed');
                                                    }else{
                                                        echo \YII::t('common','Unfinished');
                                                    }
                                                ?>
                                            </p>
                                        </td>
                                    </tr>
                                    <?php }?>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="load_more"><a href="javascript:void(0);" id="load_news" page="1"><i class="icon iconfont"></i></a></div>
                <?php }?>
            </div>
        </div>
    </div>
    <script>
        var page=2;
        $("#load_news").click(function () {
            new_box_index = layer.msg('<?=\YII::t('common','Loading')?>', {icon: 16, time: 0, shadeClose: true, shade: false});
            $.ajax({
                url: "/usercenter/moreorder",
                type: 'POST',
                dataType: 'json',
                data:{'page':page},
                success: function(ajaxdata){
                    layer.close(new_box_index);
                    if(ajaxdata.ap_str){
                        $("#list_table").append(ajaxdata.ap_str);
                        page++;
                    }else{
                        layer.alert("<?=\YII::t('common','NoMore')?>", {title: false, btn: "", shadeClose: true, shade:false, offset: "auto", time: 2000});
                    }
                }
            });
        })
    </script>
