@charset "utf-8";

/* CSS Document */
body{ background:url("../../cfhome/images/background.png");}
ul,li{ list-style:none;}
a{color:#666;font-family: "GARA";}
a:hover{ color:#000000; text-decoration:none;}
.user_c a{
    color:#000000;
    font-size: 96px;
}
a:focus{outline:none;}
.clearfix{ *zoom:1;}
.clearfix:after{ content:""; display:table; line-height:0;}
.blank{ height:0; width:100%; float:none; clear:both; display:block; overflow:hidden;}
.hide{ display:none;}
#cart{  color: #c4c4c4; font-size: 34px;  position: relative;width:48px; height:40px; margin-top: 10px;margin-right: 7px;}
.gouwuche{color: #c4c4c4;font-size:34px;position: relative;width:46px;height:40px;margin-top:-6px;margin-left: 10px;float: left}
.input_text{ height:18px; line-height:18px; padding:7px; background:none; border:1px solid #707070; font-size:16px;}
.input_text[type=text],.input_text[type=password]{ color:#999; font-size:18px;}
.input_text:focus{ border-color:#fff;}
.input_sub{ font: 14px "constanb",JennaSue46271, Calibri, Arial, Helvetica, sans-serif,Microsoft YaHei;padding: 0 10px;height:34px; background:none; line-height:34px; border:0; color:#af9e89; text-transform:Capitalize; cursor:pointer; text-align:center;}

.transition{ -webkit-transition: 0.3s; -moz-transition: 0.3s; transition: 0.3s;}
/* 字颜色 */
.orange{ color:#d83d00;}
.blue{ color:#00a0ae;}
.green{ color:#017a46;}

/* 编辑区 */
.edit{ line-height:40px; font-size:16px; word-wrap: break-word;color: #69605b; font-family: "constanb";}
.edit img{ max-width:100%; height:auto;}
.edit p:first-child{color:#69605b;}
.edit p:last-child{color:#000000;}
/*  -------  首页  ------  */
.content{}
header{ text-transform:uppercase; width:100%; background:#000000; height:90px; position:relative;z-index:666;}
.header_con{ width:100%; max-width:1500px; margin:0 auto;}
.h90{ height:90px; display:block;}
.header_box{ position:relative; z-index:10;}
.header .logo{ position:absolute; top:6px; left:30px;}
.header .logo img{width:auto;}
@media screen and (max-width: 1680px){.header .logo img{height:100%;}}
.header .right{ float:right; width:100%}
.header .nav{ float:left; padding-left:200px;}
.header .nav>ul{}
.header .nav>ul>li{ float:left;}
.header .nav .hd a{ font-family: "constanb" ,"sans-serif";padding:5px 20px; height:80px; line-height:80px; float:left; font-size:19px; color:#af9e89; -webkit-transition: 0.3s; -moz-transition: 0.3s; transition: 0.3s;}
.header .nav .bd{ display:none; position:absolute; top:90px; left:0; background-color:#243046; -moz-transition: .3s ease opacity; -webkit-transition: .3s ease opacity; -o-transition: .3s ease opacity; transition: .3s ease opacity;}
.header .nav .bd ul{display:inline-block; width:auto; padding:10px 0 20px 0;}
.header .nav .bd ul:first-child{border-right:1px solid #374455;}
.header .nav .bd li{font-size:19px; min-width:200px;_width:200px;padding-left:25px;margin-top:10px;}
.header .nav .bd li img{vertical-align: middle;margin-right:10px;width:20px;height:20px;}
.header .nav .bd li:first-child{color:#ccc;}
.header .nav .bd li a{ color:#fff;}
.header .nav .bd li i{font-size:20px;margin-right:10px;}
.header .nav .bd li a:hover{ color:#fff;}
.header .nav>ul>li.on .hd a,.header .nav .bd ul{ color:#fff;}
.header .nav>ul>li.on .bd{ opacity:1; display:block;margin-left:139.41px;}
.gameslist:hover{background:#243046;}
.mobile_nav_icon{display:none;}
.log_share_lang{float:right; padding:27px 0px 0 0;}
.log_share_lang .log,.log_share_lang .log_in,.log_share_lang .log_in li{float:left;}
.log_share_lang .log .hd{display:none;}
.log_share_lang .log .input_text{float:left; width:130px; margin-right:10px;}
.log_share_lang .log .input_sub{float:left; margin-right:10px;height:50px;}
.log_share_lang .log .hd .input_sub{height:32px; line-height:32px;}
.log_share_lang .log .bd{position:relative;}
.log_share_lang .log .bd .user_tishi{border:1px solid #707070; font-family:"arial"; width:286px; font-size:12px; line-height:17px; color:#fff; padding:8px; background: rgba(97,97,97,0.55) none repeat scroll 0 0 !important; filter: Alpha(opacity=55); background: #616161; position:absolute; top:36px; left:0; text-transform:capitalize;}
.log_share_lang .log .bd .user_tishi a{color:#2a8b93; text-decoration:underline;}
.log_share_lang .log .bd .user_tishi a:hover{text-decoration:none;}
.log_share_lang .share{float:left; line-height:34px; height:34px;}
.log_share_lang .share span{float:left; margin-right:10px; margin-top:3px;}
.log_share_lang .share a{float: left;}
.log_share_lang .share i{font-size: 30px; margin:-3px 0 0 -1px; vertical-align: top; display: block;}
.log_share_lang .share span.item01 i{color:#3c5a99;}
.log_share_lang .share span.item02 i{color:#cc3333;}
.log_share_lang .lang{text-transform:none; float:left; position:relative;}
.log_share_lang .lang .hd{padding:4px; line-height:18px; height:18px; cursor:pointer; margin-top:4px;}
.log_share_lang .lang img{vertical-align:top;}
.log_share_lang .lang span{padding:0 4px; text-transform:none; color:#c4c4c4; font-size:18px;font-family: "Cambria";font-weight: normal;}
.log_share_lang .lang span.lang_text{display:none;}
.log_share_lang .lang .bd{position:absolute; line-height:24px; display:none; background:#000000;}
.log_share_lang .lang .bd ul{border-top:0;}
.log_share_lang .lang .bd li img{margin-top:2px;}
.log_share_lang .lang .bd li a{display:block; height:22px; line-height:20px; padding:2px 4px;}
.log_share_lang .lang.on .bd{display:block;}
.log_share_lang .lang.on .bd li a:hover{background:#262626;}
.log_share_lang .lang.on .bd li a:hover span{color:#fff;}
.log_share_lang .log_in{margin-top:-10px;}
.log_share_lang .log_in li{padding-right:15px;}
.log_share_lang .log_in li img{vertical-align:top; float:left;}
.log_share_lang .log_in li a{float:left;}
.log_share_lang .log_in li.item01 span{font-family: "constanb";line-height:57px; padding-left:15px; font-size:16px; color:#fff; width:95px; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap; float:left; text-transform:capitalize;}
.log_share_lang .log_in li.item02{position:relative; margin-top:16px; padding-right:20px;}
.log_share_lang .log_in li.item02 i,.log_share_lang .log_in li.item03 i{font-size:30px; color:#c4c4c4;}
.log_share_lang .log_in li.item02 span{font-size:12px; color:#fff; position:absolute; top:-5px; left:23px; width:19px; height:18px; display: block; background: url(../images/msg_num_bg.png) no-repeat; text-align: center; line-height: 18px;}
.log_share_lang .log_in li.item03{margin-top:12px;}
.log_share_lang .log_in li.item03 a{color:#949494; line-height: 30px; display:block; text-transform: none; font-size:16px;}
.log_share_lang .log_in li.item02 a:hover i,.log_share_lang .log_in li.item02 a:hover span,.log_share_lang .log_in li.item03 a:hover i,.log_share_lang .log_in li.item03 a:hover span{ color:#fff;}
.state-currency {position: relative;  float: left;  cursor: pointer;  color: #fff;    text-transform: capitalize;}
.currency{padding: 2px 10px;font-size: 14px;margin-top: 6px;}
.state-currency-list {position: absolute;  top: 27px;  left: -5px; background: #000;  z-index: 9999;display: none;overflow-y: auto;max-height: 250px;}
.state-currency-list li a{display: block;height:25px;line-height: 25px;padding: 2px 5px;color: #fff;font-size:14px}
.state-currency-list li a:hover{color: #fff;text-decoration: underline;background: #524e4e; }
#focus{display:none;}
#focus.focus,.pc_banner{display:block;}
#focus,.pc_banner{position:relative; overflow:hidden;}
#focus .hd,.pc_banner .hd{width:100%; position:absolute; height:0; z-index:1; bottom:40px; text-align:center;}
#focus .hd ul,.pc_banner .hd ul{display:inline-block; vertical-align:top;}
#focus .hd ul li,.pc_banner .hd ul li{float:left; width:15px; height:15px; border:2px solid #8c8c8c; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; background:#8c8c8c; margin:0 5px; vertical-align:top; overflow:hidden; cursor:pointer; text-indent:-999px;}
#focus .hd ul .on,.pc_banner .hd ul .on{background:none; border:2px solid #cbcbcb;}
#focus .bd,.pc_banner .bd{position:relative; z-index:0; }
.pc_banner .bd ul{min-height:386px;}
.pc_banner .bd li{float:left;}
#focus .bd li img,.pc_banner .bd li img{width:100%; height:auto; vertical-align:top;}
.pc_banner .bd li img{min-height:386px;}
#focus .bd li a{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);} /* 取消链接高亮 */
#focus .prev,#focus .next,.pc_banner .prev,.pc_banner .next{position:absolute; top:50%; color:#8c8c8c; margin-top:-37px; cursor:pointer;}
#focus span i,.pc_banner span i{font-size:75px;}
#focus .prev,.pc_banner .prev{left:1%;}
#focus .next,.pc_banner .next{right:1%;}

.main_box{ overflow:hidden; width:1260px; max-width:1260px; margin:-38px auto 0;}
@media screen and (max-width: 1400px) and (min-width: 1200px){
    .main_box{
        margin: -40px auto 0;
    }
	.turn_banner,.turn_banner li{height:410px !important;}
	.list-games-wrap{padding-top:240px !important;}
}
@media screen and (max-width: 1200px) and (min-width:640px){
    .main_box{
        margin: -30px auto 0;
    }
	.turn_banner,.turn_banner li{height:350px !important;}
	.list-games-wrap{padding-top:200px !important;}
}
@media screen and (max-width: 640px){
    .main_box{
        margin: -20px auto 0;
    }
	.turn_banner,.turn_banner li{height:150px !important;}
	.list-games-wrap{padding-top:100px !important;}
}

.main_box .left,.main_box .right{ width:100%; overflow:hidden;}
.main_box .right{margin-top:32px;}
.main_box:after{content:"";clear:both;height:1px;}
.main_box:before{content:"";clear:both;height:1px;}
.main_box .left .facebook_con{ width:50%; float:left;}
.main_box .left .left_r{float:right;width:50%;}
.main_box .left .left_r .img img{height:500px; width:100%;}
.main_box .left .facebook_con{ overflow:hidden;}
.main_box .left .facebook_con img{ width:100%; height:auto; vertical-align:top;}
.facebook_small{ display:none;}
.main_box .left .left_r{}
.main_box .right_l a,.main_box .right_box a{ display:block;}
.main_box .right .right_r>div{width:32%;float:left;margin-left:2%;}
.main_box .right .right_r>div:first-child{margin-left:0;}
.scene_box,.role_box{ position:relative;}
.right .img img,.role_box .img img{ width:100%; height:402px;vertical-align:top;}
.scene_box .img,.facebook_con .in_img{ position:relative;}
.scene_box .img span,.facebook_con .in_img span{ position:absolute; top:50%; left:0; width:100%; text-align:center; margin-top:-28px; color:#fff; font-size:52px; text-transform:uppercase; font-weight:700;}
.scene_box .con,.role_box .con{ position:absolute; top:50%; left:0; width:100%;}
.scene_box .con .text,.scene_box .con .text3,.scene_box .con .text2,.scene_box .con .text4{ font-size:40px; font-weight:bolder; color:#FFFFFF; text-transform:uppercase; padding:0 15%; text-align:center; line-height:125.373px; height:140px; overflow:hidden;}
.scene_box .con .text2,.scene_box .con .text4{color:#000;}
.scene_box .con .go{ width:159px; height:36px; line-height:36px; margin:130px auto 0; text-align:center; color:#fff; background:url(../images/scene_sub_bj.png) no-repeat;}
.scene_box .con .go .bd img,.role_box .con .go .bd img{ vertical-align:middle;}
.scene_box .con .go .hd,.role_box .con .go .hd{ font-size:15px; text-transform:uppercase;}
.scene_box .con .go .bd,.role_box .con .go .bd{ display:none;}
.scene_box a:hover .con .go .hd,.role_box a:hover .con .go .hd{ display:none;}
.scene_box a:hover .con .go .bd,.role_box a:hover .con .go .bd{ display:block;}
.role_box .con .role_img{ position:relative; margin-bottom:40px; text-align:center;}
.role_box .con .role_img img{ height:170px; width:auto; vertical-align:top;}
.role_box .con .text{ font-size:15px; color:#151515; padding:0 10%; text-align:center; line-height:22px; height:66px; overflow:hidden;}
.role_box .con .go{ width:56px; height:56px; line-height:56px; text-align:center; margin:10px auto 0; background:url(../images/role_sub_bj.png) no-repeat;}
.role_box .con .go .bd,.role_box .con .go .hd{ color:#000;}
.role_box .con .go .hd{ font-size:20px;}
@media screen and (max-width: 640px){
    .main_box .left .left_r,.main_box .right .right_r>div{
        width:100%;
    }
    .main_box .right .right_r>div{
        margin-left:0;
    }
}

/* 弹出层 */
.layer_box{display:none; height: auto; width:auto;}
.layer{width: 565px;display:none; color:#fff;padding:25px 45px 35px; z-index:1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.layer .guanbi{ position:absolute; top:20px; right:25px;}
.layer .guanbi i{ font-size:30px; color:#000;}
.layer h2{ font-size:38px; color:#000000; text-align:center; font-weight:100; padding-bottom:30px;}
.other_user{ text-align:center; margin-bottom:15px;}
.retrieve .other_user{ text-align:left;}
.other_user p{ padding:0 0 10px;}
.other_user p,.layer .or{ font-size:16px; color:#000000;}
.other_user a{ margin-top:8px; display:inline-block;}
.other_user img{ vertical-align:top;}
.layer .or{ position:relative; text-align:center; margin-bottom:5px;}
.layer .or span{ height:20px; line-height:20px; padding:0 18px; display:inline-block; *display:inline; *zoom:1; background:#ffffff; position:relative; z-index:1;}
.layer .or i{ position:absolute; width:100%; top:50%; left:0; height:1px; overflow:hidden; background:#8c8c8c;}
.user_box ul li{ overflow:hidden; padding:10px 0; position:relative;}
.layer_text{  border: 1px solid #8c8c8c;font-size:18px; padding:14px; height:50px; line-height:20px; color:#000000; width:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;font-family: "constanb";}
.layer_text:-ms-input-placeholder {
    　　color:#999;font-size:14px;
}
.layer_text::-webkit-input-placeholder {
    　　color:#999;font-size:14px;
}
.layer_text02{ width:60%;}
.user_box ul li.yzm .layer_text02{ float:left;}
.user_box ul li.yzm img{ vertical-align:top; height:50px; width:auto;}
.user_box ul li label{ float:left;}
.user_box ul li label input{ width:20px; height:20px; margin:0; vertical-align:top;margin-top: 5px;}
.user_box ul li label span{ color:#6a5f5d; padding-left:6px; line-height:29px; font-size:16px;}
.user_box ul li font{ float:right;}
.user_box ul li font a,.user_box ul li p a,.user_box ul li.zhuce a{ font-size:18px; color:#6a5f5d; text-decoration:underline; font-family: "constanb"; }
.user_box ul li.zhuce a{ font-size:14px;}
.user_box ul li font a:hover,.user_box ul li p a:hover,.user_box ul li.zhuce a:hover{ text-decoration:none;}
.user_box ul li p{ text-align:center;}
.user_box ul li.forgot_password .layer_sub{font-size:16px;}
.layer_sub{ width:159px; height:51px; background:#000000; border:0; cursor:pointer; font-size:22px; color:#fff; line-height:51px; text-align:center;    font-family:"constanb";}
.bj{ position:fixed; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.7) none repeat scroll 0 0 !important; filter: Alpha(opacity=70); background:#000;}

.exit_tip{ padding:30px 10px 60px;}
.exit_tip .fl{ width:50px; margin-left:20px;}
.exit_tip .fl span{ display:block; height:50px; background:url(../images/exit_tip.jpg) no-repeat;}
.exit_tip .fr{ font-family: "constanb"; font-size:18px; line-height:26px; float:none; padding-left:80px; display:block; text-align:left; margin-right:20px;color:#000000;}
.exit_tip .sub_box{ float:none; clear:both; margin-top:45px;}
.exit_tip .sub_box .sub{ width:159px; height:36px; line-height:36px; background:#000000; display:block; float:left; font-size:22px; font-weight:700; text-align:center; color:#fff;}
.exit_tip .sub_box .sub02{ float:right;}

/*  -------  新闻列表  ------  */
.sub_main{ margin:0 auto 60px; width:1260px; min-width:1260px;}

.sub_main{margin-top: 50px;position: relative;z-index: 5;}
@media screen and (max-width: 1500px) and (min-width: 1200px){
    .sub_main{
        margin: -80px auto 0;
    }
}
@media screen and (max-width: 1200px){
    .sub_main{
        margin: 0 auto 0;
    }
}

.sub_content{margin-top:90px;color: #e6e6e6;}
.sub_content.sub_contact{ margin-top:0;}
.news_list ul{}
.news_list li{ padding:20px 8% 30px;}
.news_list li.on{}
.news_list li .tit{ line-height:30px; position:relative;}
.news_list li .tit h2{ font-size:26px; font-weight:700; border-bottom:1px solid #eeeded; padding:15px 0;}
.news_list li .tit span{ position:absolute; top:15px; right:0; font-size:26px; text-transform:uppercase; font-weight:700; width:150px;}
.news_list li .tit font{ position:absolute; top:15px; left:50%; font-size:16px; color:#949494; margin-left:-30px;}
.news_list li .tit a:hover{ text-decoration:underline;}
.news_list li .text{ font-family: "constanb";color:#949494; line-height:22px; padding-top:25px;font-size: 18px}
.read_more{ padding-top:25px;position: relative;}
.read_more a{ text-decoration:underline; color:#949494; font-size:16px;}
.read_more a:hover{ color: #69605b;}
.news_list li .read_more font{ position:absolute; top:26px; right:0%; font-size:16px; color:#949494; margin-left:-30px;}
.load_more a{ display:block; text-align:center; padding:16px 0; background:#b09d88; border-top:0;}
.load_more a i{ font-size:38px; color:#fefefe;}
.load_more a:hover{}
.gouwuche a{color: #c4c4c4;}
.gouwuche a:hover{color: #ffffff;}
#cart a{color: #c4c4c4;}
#cart a:hover{color: #ffffff;}
.footer{padding:2.5% 0 2.1%; width:100%; max-width:1500px; margin:0 auto;}
.footer .nav{ text-align:center; position:relative; margin-top:2.5%;}
.footer .nav ul{ display:inline-block; vertical-align:top; overflow:hidden;}
.footer .nav li{ float:left; font-size:16px; line-height:32px; color:#949494;}
.footer .nav li a{ color:#8b8b8b; padding:0 18px;}
.footer .nav li a:hover{color: #69605b;}
.footer .nav li.copy{font-size:12px;}
.footer .share{ text-align:center;}
.footer .share ul{ display:inline-block; vertical-align:top; overflow:hidden;}
.footer .share li{ float:left; font-size:14px; padding:0 9px;}
.footer .share li a{ color:#fff; float:left; font-size:18px;}
.footer .share li i{ font-size:32px; float:left;}
.footer .share li span{ text-transform:uppercase; line-height:32px; float:left; padding-left:12px;}


/*  -------  新闻详细  ------  */
.news_detail{ padding:60px 5%; margin-bottom:-60px;    border: 5px solid #b09f88;}
.position a,.position span,.position font{ color:#69605b; font-size:16px; }
.position span{ padding:0 5px;}
.detail_box .title{ text-align:center; padding:40px 0 60px;}
.detail_box .title h2{ text-transform:uppercase; font-size:24px;color: #69605b;}
.detail_box .title p{ font-size:16px; color:#69605b; padding-top:28px;}
.position{color: #69605b;}
/*  -------  联系我们  ------  */
.content_box{}
.content_box .tit,.content_box02 .tit,.content_box03 .tit{ font-size:24px; text-transform:uppercase; line-height:44px; padding:30px 0; text-align:center;color: #000000;font-family: "constanb";}
.content_box03 .tit{padding:80px 0;color: #000000;}
.content_box .con{ padding-bottom:20px; font-family: 'Open Sans', sans-serif;}
.content_box .con .fl,.content_box .con .fr{width:49%; padding:30px 0; /*border:1px solid #6e7482;*/box-sizing: border-box; background-color:#af9e8a;}
.content_box .item h2{ font-size:24px;text-align: center;font-family: "constanb";}
.content_box .item .text{ font-size: 16px;padding-top: 15px;padding: 5px 2.5em;text-align: center;font-family: "constanb";    border-bottom: 1px dashed #d6d0c4;    padding-bottom: 30px;}
.content_box .GoToSub{ padding-top:35px;text-align:center;}
.content_box .GoToSub img{ vertical-align:middle;height:50px;}
.content_box .GoToSub a{ margin-left:70px; font-size:16px; color:#e6e6e6; text-transform:uppercase;font-family: "constanb";}
/*.content_box02 .tit{ float:left;}*/
.content_box02 .con{ font-family: "constanb"; font-size:16px; padding-top:30px;text-align:center;    color: #69605b;}
.content_box02 .con a{ text-decoration:underline; color:#69605b;}
.content_box03 .con{font-family: 'Open Sans', sans-serif; padding:0 7% 160px 7%;}
.content_box03 .fr{ width:40%; color: #69605b;}
.content_box03 .text h2{ font-size:24px; padding-bottom:10px;font-family: "constanb";}
.content_box03 .text dl{ font-size:16px; line-height:38px; overflow:hidden;}
.content_box03 .text dt{ float:left; width:160px;font-family: "constanb";}
.content_box03 .text dd{ overflow:hidden;font-family: "constanb";}
.content_box03 .fl.text{ width:50%;color: #69605b;}
.content_box03 .fr.img img{ float:right; padding-right:60px;}

/* 20151203 S */
/* 404页面 */
.sub_main_404{ background:#0f1620; padding-top:90px;}
.box_404{ text-align:center; width:20%;position:relative; overflow:hidden; max-width:1500px; width:100%; margin:0 auto;min-height:800px;_height:800px;}
.img_404{position:absolute;left:10%;top:100px;}
.con_404{ position:absolute;top:178px;left:40%;z-index:1; color:#fff; text-align:left;}
.con_404 h2{ font-size:56px; font-weight:100; padding-bottom:70px;}
.con_404 h3{font-size:30px;padding-bottom:41px;color: #000000;}
.con_404 h4{ font-size:20px;padding-top:29px;color:#c9bc8f;}
.con_404 h4 a,.con_404 h4 a:hover{color:#3e81dd; text-decoration: underline;}

/* 维护页面*/
.box_maintain{ text-align:center;position:relative; overflow:hidden; max-width:1500px; width:100%; margin:0 auto;min-height:800px;_height:800px;}
.img_maintain{position:absolute;left:58%;top:78px;}
.con_maintain{ position:absolute;top:100px;left:17%;z-index:1; color:#fff; text-align:left;}
.con_maintain h2{ font-size:56px; font-weight:100; padding-bottom:27px; color:#000000;}
.con_maintain h3{font-size:30px;padding-bottom:41px;color:#69605b;}
.con_maintain p{ font-size:20px;padding-top:29px;color:#000000;}
.con_maintain p a,.con_maintain p a:hover{color:#69605b; text-decoration: underline;}

/* 20151203 E */

@media screen and (max-width: 1755px) and (min-width: 1600px) {
    .ship-express{right: 280px;}
    .scene_box .con .go{ margin-top:100px;}
    .role_box .con .role_img{ margin-bottom:20px;}
    .role_box .con .go{ margin-top:20px;}
}

@media screen and (max-width: 1755px) and (min-width: 961px) {
    .nav_copy_share{ padding-top:0;}
    .nav_copy_share .share{ float:none; clear:both; padding-top:5px; overflow:hidden;}
    .nav_copy_share .share ul{ float:right;}
    .nav_copy_share .copy{ padding-right:0;}
}

@media screen and (max-width: 1599px) and (min-width: 1152px) {
    .ship-express{right: 36px;}
    .role_box .con .role_img{ margin-bottom: 10px;}
    .role_box .con .role_img img{ width:110px; height:auto;}
    .role_box .con .go{ margin-top:10px;}
    .scene_box .con .text{ font-size:25px; line-height:40px; height:80px;}
    .scene_box .con .go{ margin-top:70px;}
}

@media screen and (max-width: 1599px) and (min-width: 961px) {
    .role_box .con .role_img{ margin-bottom: 20px;}
    .role_box .con .role_img img{ width:110px; height:auto;}
    .role_box .con .go{ margin-top:10px;}
    .scene_box .con .text{ font-size:30px; line-height:50px; height:100px;}
    .scene_box .con .go{ margin-top:80px;}
}

@media screen and (max-width: 1425px) and (min-width: 961px) {
    .log_share_lang .log .hd li{ float:left;}
}

@media screen and (max-width: 1024px) and (min-width: 961px) {
    .log_share_lang .log .hd{ display:block;}
    .log_share_lang .log .hd li{ float:left;}
    .log_share_lang .log .bd{ display:none;}
}

@media screen and (max-width: 1151px) {
    .role_box .con .text{ height:44px;}
    .role_box .con .role_img{ margin-bottom:5px;}
    .role_box .con .role_img img{ width:110px; height:auto;}
    .role_box .con .go{ margin-top:5px;}
    .scene_box .con .text{ font-size:20px; line-height:30px; height:60px;}
    .scene_box .con .go{ margin-top:60px;}
    #cart{  color: #c4c4c4; font-size: 34px;  position: relative;width:48px; height:40px; margin-top: 10px;margin-right: 7px;}
    .gouwuche{color: #c4c4c4;font-size:34px;position: relative;width:46px;height:40px;margin-top:-6px;margin-left: 10px;float: left}
}

@media screen and (max-width: 1450px) and (min-width: 961px) {
    .header .nav .hd a{ font-size:14px; padding:0 6px;}
    .content_box03 .fr.img img{ padding-right:0;}
    .service_in_box .sercice_cont p a{font-size: 14px}
}

@media screen and (max-width: 1135px) and (min-width: 961px) {
    .log_share_lang .log_in li.item01 span{ display:none;}
}

@media screen and (max-width: 1030px) and (min-width: 961px) {
    .log_share_lang .share{ display:none;}
    .nav_copy_share .nav li a{ padding:0 15px;}
    .content_box .con .fr{ padding-left:7px; width:42.5%;}
}
/* xiaosong S */
.facebook_small,.facebook_big{ overflow:hidden;}
.in_video{ overflow:hidden;}
@media screen and (max-width: 1680px){

	.header .logo{ bottom:6px;}
	.log_share_lang{ padding-top:20px;}

	/* 20151203 S */
	.sub_main_404{ padding-top:78px;}
	/* 20151203 E */
}
@media screen and (max-width: 1280px){
	.header .logo{ bottom:6px;}
	.log_share_lang{ padding-top:27px;}
	/* 20151203 S */
	.sub_main_404{ padding-top:68px;}
	/* 20151203 E */
}
/* 20151203 S */
@media screen and (max-width: 981px){
	.sub_main_404{ padding-top:0;}
}
/* 20151203 E */
/* xiaosong E */
@media screen and (max-width: 960px){
    header{height:60px;}
    .header{ padding:0; background:#000; height:60px;}
    .h90{ display:none;}
    .mobile_nav_icon{ position:absolute; top:0; right:0; background:#000; height:60px; width:60px; color:#fff; overflow:hidden; display:block; cursor:pointer;}
    .mobile_nav_icon .box{ width:120px; height:50px; padding-top:10px; margin-left:0;}
    .mobile_nav_icon .box i{ margin-left:15px; font-size:36px; color:#fff; vertical-align:top;}
    .mobile_nav_icon.on{ background:#000;}
    .mobile_nav_icon.on .box{ margin-left:-55px;}
    .header .logo{ height:50px; top:5px; left:10px;}
    .header .nav>ul>li,.header .right,.header .nav,.log_share_lang,.header .nav .hd a,.header .nav .bd li,.log_share_lang .log,.log_share_lang .lang,.log_share_lang .log .input_sub,.log_share_lang .log_in,.log_share_lang .log_in li,.log_share_lang .log_in li a{ float:none; clear:both;}
    .header .right,.header .nav,.log_share_lang{ padding:0;}
    .header .right{ position:absolute; width:100%; top:60px; right:0; background:#000; padding:20px 0; display:none; height:0; overflow:hidden;}
    .header .header_box.on .right{ display:block; height:auto;}
    .header .nav>ul>li{ text-align:right; position:relative;}
    /*.header .nav>ul>li i{ position:absolute; top:0; left:0; width:100%; height:30px; cursor:pointer;}*/
    .header .nav .hd a{ display:block; line-height:30px; height:auto; font-size:16px; color:#fff;}
    .header .nav .bd{ display:none; opacity:1; position:static; height:auto; line-height:inherit; background:none !important;}
    .header .nav .bd li a{ font-size:16px; display:block; line-height:30px;}
    .header .nav>ul>li.item.on{ background:#1d1d1d;}
    .header .nav>ul>li.on .hd a{ background:none;}
    .header .nav .hd a{ padding:0 15px;}
    .log_share_lang .log .hd{ display:block;}
    .log_share_lang .share,.log_share_lang .log .bd,.log_share_lang .lang .hd span,.log_share_lang .lang .hd img,.log_share_lang .lang .bd img{ display:none;}
    .log_share_lang .log .input_sub{ display:block; margin:0; padding:0 15px; text-align:right; font-size:16px; width:auto; border:0; color:#fff; text-transform:uppercase;}
    .log_share_lang .lang{ font-size:18px;}
    .log_share_lang .lang.on{ background:#1d1d1d;}
    .log_share_lang .lang .hd{ border:0; text-align:right; padding:0; margin:0; height:30px; line-height:30px;}
    .log_share_lang .lang .hd .lang_text{ display:block; line-height:30px; color:#fff; margin:0; padding:0 15px;}
    .log_share_lang .lang .bd{ display:none; border:0; position:static; background:none; text-align:right;}
    .log_share_lang .lang .bd ul{ border:0;}
    .log_share_lang .lang .bd li a{ padding:0 20px; line-height:30px; height:auto;}
    .log_share_lang .log_in{ margin:0;}
    .log_share_lang .log_in li{ text-align:right; line-height:30px; padding:0;}
    .log_share_lang .log_in li a{ display:block; padding:0 25px;}
    .log_share_lang .log_in li img,.log_share_lang .log_in li.item02,.log_share_lang .log_in li.item03 i{ display:none;}
    .log_share_lang .log_in li.item01 span{ float:none; width:auto; padding:0; line-height:inherit;}
    .log_share_lang .log_in li.item03{ margin:0;}
    .log_share_lang .log_in li.item03 span{ display:block; color:#fff; font-size:16px;}

    #focus{ display:block;}
    .pc_banner{ display:none;}
    #focus .prev,#focus .next{ margin-top:-25px;}
    #focus span i{ font-size:45px;}
    #focus .hd{ bottom:20px;}
    #focus .hd ul li{ width:6px; height:6px;}

    .main_box .left,.main_box .right{ width:100%; float:none; clear:both;}
    .main_box .right_l,.main_box .right_box{ float:left;width:30%;}
    .main_box .right_r_t,.main_box .right_r_b{ width:50%; float:left; clear:none;}

    .sub_main{ padding:0; margin-bottom:30px;}
    .sub_content{ padding:0; margin:0;}
    .detail_box .title h2{font-size: 18px;}
    .detail_box .title p{font-size: 12px}
    .news_list li dl{ min-height:115px;}
    .edit{font-size: 12px}
    .sub_input{margin-top: 50px!important;}
    .news_list li dt img{ width:160px; height:auto;}
    .news_list li dd{ padding-left:180px;}
    .news_list li .title h2{ padding-left:25px;}
    .news_list li dd.text{ display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all;}

    .news_detail{ margin-bottom:-30px;}
    .content_box .tit,.content_box02 .tit,.content_box03 .tit{ width:100%; font-size:30px; line-height:34px; padding:50px 0 60px; float:none;}
    .content_box .con{ padding-bottom:60px;}
    .content_box .con .fl,.content_box .con .fr{ float:none; width:100%; border:0; display:inherit; padding:0;}
    .content_box .con .fr{ border-top:1px solid #cacaca; padding-top:50px; margin-top:50px;}
    .content_box02 .con{ width:100%; float:none; padding:0 0 60px 0;}
    .content_box03 .con{ padding-bottom:80px;}
    .content_box03 .text dt{ float:none; width:auto; padding-top:10px; color:#999;}
    .content_box03 .fr.img{ width:50%;}
    .content_box03 .fr.img img{ padding:0; max-width:100%; height:auto;}

    .news_list li .tit span{ width:auto;}

    .footer{ padding:4% 0 3.5%;}
    .footer .nav li.copy{ position:static; float:none;}

    /* 弹出层 */
    .layer{ width:60%; margin-left:20%; left:0; padding:25px 30px 35px;}
    .other_user img{ max-width:100%; height:auto;}
    #cart{position: fixed;margin-top: 0;margin-right: 0;top:15px;right: 64px;width: 71px;}
    #cart{position: fixed;margin-top: 0;margin-right: 0;top:15px;right: 64px;width: 71px;}
    .gouwuche{position: fixed;margin-top: 0;margin-right: 0;top:15px;right: 105px;width: 71px;}
}

@media screen and (max-width: 760px){
    .exit_tip .sub_box .sub{ float:none; margin:0 auto;}
    .exit_tip .sub_box .sub02{ margin-top:10px;}
}

@media screen and (max-width: 720px){
    .news_list li .tit h2{ margin-bottom:10px;}
    .news_list li .tit span,.news_list li .tit font{ position:static; margin:0;}
    .news_list li .tit span{ font-size:18px; padding-right:15px;}
    .load_more a i{ font-size:30px;}
    .footer .share li span{ display:none;}
}

@media screen and (max-width: 640px){
    .role_box .con .go{margin-top:40px}
    .facebook_big{ display:none;}
    .facebook_small{ display:block;}
    #focus .bd img{ height:340px; width:auto;}
    #focus .prev,#focus .next{ margin-top:-13px;}
    #focus span i{ font-size:25px;}
    #focus .hd{ bottom:15px;}
    #focus .hd ul li{ width:2px; height:2px;}

    .main_box .left .left_r,.main_box .left .facebook_con,.main_box .right_r_t,.main_box .right_r_b{float:none; clear:both; width:100%;}

    .content_box .tit,.content_box02 .tit,.content_box03 .tit,.content_box .con .fl,.content_box .con .fr{ text-align:center;}

    .footer .share,.footer .nav{ text-align:center; padding:0 3%;}
    .footer .nav li{ float:none;}
    .footer .nav li a{ padding:0 9px;}
    .footer .nav li.copy{ padding:0 9px;}

    .layer{ width:74%; margin-left:13%;}
    .user_box ul li.yzm img{ width:94px;}
    .user_box ul li.zhuce span{ display:block; padding:65px 0 0 0;}

    .exit_tip .fl{ width:50px; float:none; margin:0 auto; display:none;}
    .exit_tip .fr{ padding:20px 20px 0; text-align:center;}
    .coming_soon{left:2%!important;}
}

@media screen and (max-width: 480px){
    .news_list ul{ padding:0;}
    .news_list li{ padding:20px 4% 30px;}
    .news_list li .text{ padding-top:20px;}
    .load_more a{ padding:10px 0}
    .load_more a i{ font-size:34px;}
    .content_box03 .fl{ float:none; display:inherit; text-align:center;}
    .content_box03 .img img,.content_box03 .fr.img img{ vertical-align:top; max-width:100%; height:auto;}
    .content_box03 .fr{ float:none; display:inherit; width:100%;}
    .content_box03 .fr.text{ padding-top:30px;}
    .content_box03 .fl.text{ width:100%; text-align:left;}
    .content_box03 .fr.img{ float:none; display:inherit; width:100%; text-align:center; padding-top:30px;}

    .footer{ padding:6% 0 5%;}

    .layer{ width:86%; margin-left:6%; padding:20px;}
}


/*新增CSS样式 zh start*/
.dialog_box{
    display:none;
}
.dialog_box label,.header_login label,.header_register label,.red_error{
    display: block;
    line-height:30px;
    padding-top: 3px;
    color:#770705;
    font-size:16px;
    font-family: "constanb";

}

.main_box .right_l_b .con .text,.main_box .right_r_t .con .text{color:#000;}
.main_box .right_l_b .con .go,.main_box .right_r_t .con .go{ width:56px; height:56px; line-height:56px; text-align:center; background:url(../images/role_sub_bj.png) no-repeat;}
.main_box .right_l_b .con .go .bd,.main_box .right_l_b .con .go .hd,.right_r_t .con .go .bd,.right_r_t .con .go .hd{ color:#000;}
.main_box .right_l_b .con .go .hd,.main_box .right_r_t .con .go .hd{ font-size:20px;}

.header_msg_box{position: absolute;width:208px; border:1px solid #313131; background: #0d121b; left:50%;  margin-left:-130px; top:32px; display: none;}

.log_share_lang .log_in .header_msg_box li{position: relative;height:56px; width:100%; line-height: 56px; border-top: 1px solid #313131; padding:0; }
.header_msg_box li a{color:#8896a5; text-indent: 20px; font-size: 16px; display:block;}
.header_msg_box li a:hover{color:#fff;}
.log_share_lang .log_in .header_msg_box li i{color:#fff;width:29px; text-align: center; height:56px; line-height: 56px; font-size:16px; display:block; position:absolute; right:10px;font-style:normal;background: url(../images/message_box_li_bg.png) center no-repeat;}

.header_login_box{left:50%; margin-left: -225px; position:absolute; z-index:11; display: none; top:37px;}
.header_login,.header_register{text-transform: none;width:380px;    background: #f8f8f8;border: 4px solid #af9e8a;padding:35px 35px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.header_layer_v{width:100%; height: 8px;  position:absolute; top:-13px; }
.header_layer_v .v_ico{display:block;position:absolute; left:50%; font-size:0; margin-left: -19px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #af9e8a;;
}

.header_login h2,.header_register h2{ font-size:38px; color:#000; text-align:center; font-weight:700; padding-bottom:10px;}
.header_login .or,.header_register .or{ position:relative; text-align:center; margin-bottom:5px;}
.header_login .or span,.header_register .or span{ height:20px; line-height:20px; padding:0 18px; display:inline-block; *display:inline; *zoom:1; background:#f8f8f8;position:relative; z-index:1;}
.header_login .or i,.header_register .or i{ position:absolute; width:100%; top:50%; left:0; height:1px; overflow:hidden; background:#000000;}
.header_login .other_user,.header_register .other_user{margin-bottom: 10px;}
.css3_fadeIn {
    -webkit-animation: bounceIn 0.2s .2s ease both;
    -moz-animation: bounceIn 0.2s .2s ease both;
    animation: bounceIn 0.2s .2s ease both;
}
.Tsign_head{width:100%; height:46px;}

.header_register_box{left:50%; margin-left: -145px; position:absolute; z-index:11; display: none; top:44px;}

.header_register .user_box ul li.zhuce span,.header_login .user_box ul li.zhuce span{ display:block; padding:65px 0 0 0; line-height: 18px;}
.header_register .user_box ul li.zhuce .layer_sub,.header_login .user_box ul li.zhuce .layer_sub{ position:absolute; top:10px; left:50%; margin-left: -90px;}
.header_register .user_box ul li{padding:0 0 10px;}
.Tsign_head{width:100%; height:46px;}
.cur{color:#fff; border-color:#fff;}
.bg_cur{border-color:#fff;}

.search_associated{border:1px solid #b6b6b6; border-top:none; position: absolute; z-index:9; background: #fff;;}

.search_associated li a{height: 45px; line-height: 45px; width:100%; display: block; font-size: 18px; text-indent:  8px;}
.search_associated li a:hover{background: #f8f8f8; color:#666;}



/* 20161202 start*/
/* banner */
.turn_banner{width:100%;position:relative;overflow:hidden;height:584px;}
.turn_banner img{width:100%;transition:0.5s;}
.banner_img{position:relative;}
.turn_banner .turn_i,.turn_l,.turn_r,.turn_banner ul{position:absolute;}
.turn_banner ul{width:100%;}
.turn_banner ul li{float:left;width:100%;}
.turn_banner ul:after{content:'';display:block; clear:both;height:1px;}
.turn_i a{display:inline-block; width:15px; height:15px; margin-right:6px; border-radius:100%; -webkit-border-radius:100%;-moz-border-radius:100%;background-color:#ccc;}
.turn_i a.turn_i_i{background:#fff;}
.turn_i{bottom:20%;left:50%; margin-left:-54px;}
.turn_l,.turn_r{background:url(../images/turn-arrow.png) no-repeat;display:block; width:42.5px;height:80px;}
.turn_l{left:6%;top:50%;margin-top:-40px;background-position:-127.5px 0;}
.turn_l:hover{background-position:0;}
.turn_r{right:6%;top:50%;margin-top:-40px;background-position:-85px 0;}
.turn_r:hover{background-position:-42.5px 0;}
/* 20161202  end*/

/* 20151129 S */
.focus img{ width:100%; vertical-align:top;}
.focus a{ display:none;}

@media (min-width:1441px){
.focus .pic01{ display:block;}
}
@media (min-width:1367px) and (max-width:1440px) {
.focus .pic02{ display:block;}
}
@media (min-width:1281px) and (max-width:1366px){
.focus .pic03{ display:block;}
}
@media (min-width:601px) and (max-width:1280px){
.focus .pic04{ display:block;}
}
@media (max-width:600px){
.focus .pic05{ display:block;}
}
/* 20151129 E */
/* 20160106 S */
@media screen and (max-width: 1440px){.scene_box .img span{ font-size:46px; margin-top:-25px;}}
@media screen and (max-width: 1300px){.scene_box .img span{ font-size:42px; margin-top:-22px;}}
@media screen and (max-width: 1190px){.scene_box .img span{ font-size:38px; margin-top:-20px;}}
@media screen and (max-width: 1150px){.scene_box .img span{ font-size:36px; margin-top:-18px;}}
@media screen and (max-width: 1080px){.scene_box .img span{ font-size:32px;}}
@media screen and (max-width: 1030px){.scene_box .img span{ font-size:30px; margin-top:-15px;}}
@media screen and (max-width: 960px){.scene_box .img span{ font-size:46px; margin-top:-26px;}}
@media screen and (max-width: 870px){.scene_box .img span{ font-size:40px; margin-top:-22px;}}
@media screen and (max-width: 760px){.scene_box .img span{ font-size:36px; margin-top:-18px;}}
@media screen and (max-width: 700px){.scene_box .img span{ font-size:30px; margin-top:-16px;}}
@media screen and (max-width: 640px){.scene_box .img span{ font-size:58px; margin-top:-32px;}}
@media screen and (max-width: 550px){.scene_box .img span{ font-size:52px; margin-top:-28px;}}
@media screen and (max-width: 500px){.scene_box .img span{ font-size:46px; margin-top:-26px;}}
@media screen and (max-width: 440px){.scene_box .img span{ font-size:40px; margin-top:-22px;}}
@media screen and (max-width: 390px){.scene_box .img span{ font-size:34px; margin-top:-18px;}}
@media screen and (max-width: 340px){.scene_box .img span{ font-size:30px; margin-top:-16px;}}
/* 20160106 E */

/*lixin alter start*/
.main_box .img,
.main_box .in_img{
    position: relative;
    overflow: hidden;
}

.in_main .main_box .showDetail{
    position:absolute;
    top: 100%;
    width:100%;
    height: 30%;
    background-color: rgba(0,0,0,0.6);
}

.main_box .showDetail>p{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 0 25px;

    color: #fefefe;
    line-height:30px;
    font-family: Open Sans;
}

@media screen and (min-width: 1100px){
    .main_box .showDetail>p{
    font-size: 18px;
}
}
@media screen and (max-width: 1100px){
    .main_box .showDetail>p{
        font-size: 15px;
    }
}

@media screen and (max-width: 940px){
    .main_box .showDetail>p{
        font-size: 18px;
    }
}
@media screen and (max-width: 780px){
    .main_box .showDetail>p{
        font-size: 15px;
    }
}
@media screen and (max-width: 640px){
    .main_box .showDetail>p{
        font-size: 18px;
    }
}
@media screen and (max-width: 400px){
    .main_box .showDetail>p{
        font-size: 15px;
    }
}


.g_news p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*side-share*/
.side-share{
    display: none;
    position: fixed;
    opacity:0;
    top: 50%;
    left: 50%;
    margin-left: 560px;
    margin-top: -181px;
    padding: 20px 14px;
    border: 1px solid #373a3f;
    background: #172532;
    z-index: 222;
    width: 40px;
}

.side-share li{
    margin-top:10px;
}
.side-share li:first-child{
    margin-top:5px;
}
.side-share li:last-child{
    margin-top:20px;
}
.side-share i{
    font-size:40px;
}
.side-share li:nth-child(1) i,.side-share li:nth-child(2) i{
    font-size:38px;
}
.side-share a{
    color:#fff;
}
@media screen and (max-width: 1290px){
    .side-share{
        display:none!important;
    }
}
/* 选择游戏论坛 */
.choose-forum-wrap{width:100%;background-image:url(../images/forum-bg.jpg);max-height:790px;background-repeat:no-repeat;background-size:100%;}
.list-games-wrap{max-width:69.79%;margin:0 auto;padding-top:260px;overflow:hidden;}
.list-games-wrap a{display:inline-block;width:49%;height:auto;margin-right:1%;}
.list-games-wrap a:last-child{margin-right:0;}
.list-games-wrap img{width:100%;}

/* 恢复上一版本样式 */
.main_box{overflow:hidden;width:100%;max-width:1062px;margin:-344px auto 0}
@media screen and (max-width:1500px) and (min-width:1200px){.main_box{margin:-270px auto 0}}
@media screen and (max-width:1200px) and (min-width:640px){.main_box{margin:-220px auto 0}}
@media screen and (max-width:640px){.main_box{margin:-125px auto 0}}
.main_box .left,.main_box .right{width:100%;overflow:hidden}
.main_box .right{margin-top:32px}
.main_box:after,.main_box:before{content:"";clear:both;height:1px}
.aa{
    bottom: -6.833333rem;
    right: -5.25rem;
    width: 12.083333rem;
    height:12.083333rem;
    background: #ce7879;
    line-height:2.833333rem;
    color: #fff;
    font-family: ebrima;
    transform: rotate(-39deg);
    -webkit-transform: rotate(-39deg);
    -moz-transform: rotate(-39deg);
    -ms-transform: rotate(-39deg);
    -o-transform: rotate(-39deg);
    position: absolute;
    font-size: 1.666667rem;
}
