<style>
   </style>
    <div class="content sub_main" style="margin-top:20px;">
<!--        <div class="sub_main_box">
            <div class="sub_content sub_contact content_box">
                <div class="con clearfix">
                    <h1></h1>
                    <p>At Lovecrunch we aim to share and spread our love for fashion. Every article has been tried and tested and we only propose articles that we ourselves love and are proud to wear.
                    </p>
                    <p>Lovecrunch is an Ecommerce site devoted to bringing clothes, accessories and home decors that best fit your own personal style, for all your casual fashion needs.
                    </p>
                </div>
            </div>
        </div>-->
        <div class="sub_main_box" style="border-bottom: 0;">
            <div class="sub_content sub_contact clearfix content_box02">
                <div class="tit"><?=\YII::t('shop','ABOUT US')?></div>
                <!-- <div class="con" ><?=\YII::t('shop','At Bycouturier we aim to share and spread our love for fashion. Every article has been tried and tested and we only propose articles that we ourselves love and are proud to wear.')?></div>
                <div class="con" ><?=\YII::t('shop','Bycouturier is an Ecommerce site devoted to bringing clothes, accessories and home decors that best fit your own personal style, for all your casual fashion needs.')?></div> -->
                <div class="con" style="text-indent: 30px;text-align: justify;">Bycouturier is a wedding & bridesmaid dress and accessory brand for unique and lovely women that deserve dainty looks. Based in London, Bycouturier offers items developed by an in-house team of professional designers that are dedicated to feminine beauty. At Bycouturier, we believe in providing high-quality, exquisite handmade gowns that will bring out the best of you on your wedding day. Gowns are made from delicate fabrics and embellished with gorgeous embroidery. They will exceed your wildest expectations. Besides the measurements, we also take the dress styles of your locality into account. The fancy experience is worth all the efforts. Thanks to our online business model, you can purchase a gown from us for the cost of renting one from a bridal studio.</div>
            </div>
        </div>
        <div class="sub_main_box" style="border-bottom: 0;">
            <div class="sub_content sub_contact clearfix content_box02">
                <div class="tit"><?=\YII::t('shop','CUSTOMER SUPPORT')?></div>
                <div class="con" style="text-align: center"><?=\YII::t('common','mediaMarketing')?><a href="mailto:service@bycouturier.com">service@bycouturier.com</a></div>
            </div>
        </div>
        <div class="sub_main_box" style="border-top: 0;">
            <div class="sub_content sub_contact content_box03">
                <div class="tit"><?=\YII::t('common','MailingAddress')?></div>
                <div class="con clearfix" style="display: none">
                    <div class="fl img"><img src="<?=__IMG__?>/map01.png" alt=""></div>
                    <div class="fr text">
                        <h2><?=\YII::t('common','UK')?></h2>
                        <dl>
                            <dt><?=\YII::t('common','CompanyName')?>:</dt>
                            <dd>Mutant Box Interactive Limited</dd>
                            <dt><?=\YII::t('common','CompanyID')?>:</dt>
                            <dd>9792988</dd>
                            <dt><?=\YII::t('common','Address')?>:</dt>
                            <dd><?=\YII::t('common','RoadLondon')?></dd>
                        </dl>
                    </div>
                </div>
                <div class="con clearfix" style="display: block">
                    <div class="fl text">
                        <h2><?=\YII::t('common','HongKong')?></h2>
                        <dl>
                            <dt><?=\YII::t('common','CompanyName')?>:</dt>
                            <dd><?=\YII::t('common','InteractiveLimited')?></dd>
                            <dt><?=\YII::t('common','CompanyID')?>:</dt>
                            <dd>2280853</dd>
                            <dt><?=\YII::t('common','Address')?>:</dt>
                            <dd><?=\YII::t('common','CentralHongKong')?></dd>
                        </dl>
                    </div>
                    <div class="fr img"><img src="<?=__IMG__?>/map02.png" alt=""></div>
                </div>
                <div class="con clearfix" >
                    <div class="fl img"><img src="<?=__IMG__?>/map01.png" alt=""></div>
                    <div class="fr text" style="width: 60%">
                        <h2>UK</h2>
                        <dl>
                            <dt><?=\YII::t('common','CompanyName')?>:</dt>
                            <dd>Mutant Box Interactive Limited</dd>
                            <dt><?=\YII::t('common','CompanyID')?>:</dt>
                            <dd>9792988</dd>
                            <dt><?=\YII::t('common','Address')?>:</dt>
                            <dd>Dept 906, 196 High Road, Wood Green, London.</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('.fl.item,.fr.item').height($('.fl.item').height() > $('.fr.item').height() ? $('.fl.item').height() : $('.fr.item').height());
        });
    </script>