<style type="text/css">
    .news_detail dd .input_s {
        width: 423px;
        height:70px;
        background: #000000;
        border: 5px none;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        margin-right: 8%;
        margin-left: 60%;
        display: inline-block;
        margin-bottom: -10px;
        font-family: "constanb";
        font-weight: bold;
    }.news_detail dd .input_s02 {
         width: 423px;
         height: 70px;
         background: #000000;
         border: 5px none;
         cursor: pointer;
         font-size: 24px;
         color: #fff;
         font-weight: 700;
         margin-right: 8%;
         margin-left: 60%;
         display: inline-block;
         margin-bottom: -10px;
         font-family: "constanb";
         font-weight: bold;
    }
    .r_title{
    border-bottom: 1px solid #c9c8c8;
    font-size: 22px;
    color: #616161;
    font-family: gara;
    font-weight: 700;
    width: 95%;
    margin: 10px auto;
    }
    .r_conent{
        line-height: 35px;
    font-size: 18px;
    word-wrap: break-word;
    font-family: GARA;
    text-indent: 20px;
    width: 95%;
    margin: 10px auto;
    text-align: justify;
    }
</style>

<div class="content sub_main" style="    max-width: 1260px;margin: 50px auto!important;">
    <div class="sub_main_box">
        <div class="sub_content" style="margin-top:0;">
            <div class="news_detail">
                <div class="detail_box">
                    <div class="title">
                        <h2>Return and Refund</h2>
                       
                    </div>
                    <div class="edit">
                       <p>
                           <div class="r_title">1. General Return Policies</div>
                           <div class="r_conent">All returns must be in their original condition: unworn, unwashed, unaltered, undamaged, clean, and free of lint and hair; merchandise must be in its original packaging with all tags attached. We only accept products in their original condition, and we cannot process any products that are returned without permission from us. </div>
                        </p>
                        <p>
                            <div class="r_title">2. Items that cannot be returned or exchanged</div>
                            <div class="r_conent">i. Personalized items.</div>
                            <div class="r_conent">ii. Perishables, earrings (including jewelry sets and earrings), and personal care items (including lingerie, etc) due to hygienic reasons.</div>
                            <div class="r_conent">iii. Items not in their original condition.</div>
                            <div class="r_conent">iv. Items with any tags removed.</div>
                            <div class="r_conent">v. Items received over 10 days.</div>
                            <div class="r_conent">vi. Items that have the specifications (color, size) you ordered but do not fit.</div>
                        </p>
                        <p>
                                <div class="r_title">3. Return & Refund Process</div>
                                <div class="r_conent">i. Submit a return request to service@bycouturier.com or click “Leave a message” within 10  days after receiving your order. Please include an explanation and photographs stating the reasons for your return.
                                        Please note: We reserve the right not to accept returns without permission from our Customer Service.</div>
                                <div class="r_conent">ii. Once our Customer Service has approved your request, we will provide you with an address for you to send the item(s) to.</div>
                                <div class="r_conent">iii. Pack the item(s) up and mail your return using a trackable shipping service, such as registered USPS, FedEx, or UPS, and be sure to keep your receipt and tracking information. We cannot guarantee refunds for returns sent using an untrackable method.</div>
                                <div class="r_conent">iv. All the return item(s) will go through inspections by us within 14 business days. We will process the refund when we confirm that the product has the problems you mentioned. Once the refund procedure is carried out by us, it usually takes 10-15 business days for the refund to be credited to your account, depending on your bank or payment service. Your bank or payment service may levy a transaction charge.</div>
                                <div class="r_conent" style="font-weight: 700">All PayPal payment can only be refunded via PayPal, all Credit Card payment will only be refunded to the original Credit Card.</div>
                                <div class="r_conent">Please Note: we reserve the right not to process the refund if they are returned in an unacceptable condition.</div>
                        </p>
                        <p>
                                <div class="r_title">4. Order information Changes & Cancellation</div>
                                <div class="r_conent">You can cancel the order before the product is being manufactured. You can change the information including shipping address and shipping method before we send your order out. Please send emails to <a href="mailto:service@bycouturier.com" style="color: #616161">service@bycouturier.com</a> to see if that is possible.</div>
                        </p>
                        <p>
                                <div class="r_title">5. Color Mismatch</div>
                                <div class="r_conent">The settings of your computer screen may alter the color of the pictures shown on the site. Slight color aberration may not indicate that the dress is defective or mis-shipped. However, if you insist that you have received the item in a wrong color, please contact our customer service to see if an exchange or refund is possible. </div>
                        </p>
                        <p>
                                <div class="r_title">6. Delivery Time</div>
                                <div class="r_conent" style="font-weight: 700">Total Delivery Time = Tailoring Time + Shipping Time
                                        Tailoring Time</div>
                                <div class="r_conent">At bycouturier.com, each dress is made from sketch according to the specifications customers have chosen. Currently it takes 18-20 business days to produce Wedding, Bridesmaid & Special Occasion Dresses. </div>
                                <div class="r_conent" style="font-weight: 700">Shipping Time</div>
                                <div class="r_conent">There are two shipping ways for you to choose from: Standard (20-28 business days) and Express (2-7 business days). (The exact shipping time may be shorter than our estimate for the U.S.A, Europe and Asia while it may be longer than our estimate for South American countries.) Please note the dresses can not be sent out from us to shipping carriers on Saturdays, Sundays, or holidays.</div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>