<style type="text/css">
    .news_detail dd .input_s {
        width: 423px;
        height:70px;
        background: #000000;
        border: 5px none;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        margin-right: 8%;
        margin-left: 60%;
        display: inline-block;
        margin-bottom: -10px;
        font-family: "constanb";
        font-weight: bold;
    }.news_detail dd .input_s02 {
         width: 423px;
         height: 70px;
         background: #000000;
         border: 5px none;
         cursor: pointer;
         font-size: 24px;
         color: #fff;
         font-weight: 700;
         margin-right: 8%;
         margin-left: 60%;
         display: inline-block;
         margin-bottom: -10px;
         font-family: "constanb";
         font-weight: bold;
</style>

<div class="content sub_main" style="    max-width: 1260px;margin: 50px auto!important;">
    <div class="sub_main_box">
        <div class="sub_content" style="margin-top:0;">
            <div class="news_detail">
                <div class="detail_box">
                    <div class="title">
                        <h2>Return and Refund</h2>
                        <p>Oct 13, 2015 [GMT]</p>
                    </div>
                    <div class="edit">
                        <p class="MsoNormal">
                        <p style=" border-bottom: 1px solid #c9c8c8;font-size: 22px;color: #616161">Shipping Guide</p>
                        </p>
                        <p class="p" >
                            You can choose your preferable Shipping Method:
                        </p>
                        <p class="p" >
                            <b>Expedited Shipping</b><br />
                            This shipping method is the fastest available. Delivery times are between&nbsp;7<b>-10 days</b>&nbsp;to all major destinations.Expedited shipping fee is calculated based on the weight of your order, starting from US$ 19.99.
                        </p>
                        <p class="p" >
                            <b>Standard Shipping</b><br />
                            This shipping is the most cost-saving method. But it will take&nbsp;<b>7-20 days</b>&nbsp;to all major destinations. Shipping fee is calculated based on the weight of your order, starting from US$ 5.99.
                        </p>
                        <p class="p" >
                            Before we can ship your order, bycouturier.com has to prepare your products, perform strict quality-control tests and package items carefully.&nbsp;<b>The above delivery estimates do not include order processing time.&nbsp;</b>
                        </p>
                        <p class="p">
                            Please go this website to check order status :<a href="https://www.17track.net/en " style="color: #616161">https://www.17track.net/en </a> 
                        </p>
                       
                        <p class="MsoNormal">
                            &nbsp;
                        </p>
                        <p class="MsoNormal" style=" border-bottom: 1px solid #c9c8c8;font-size: 22px;color: #616161">
                            Estimate Delivery Time
                        </p>
                        <p class="MsoNormal">
                            <b>Please Note:</b>&nbsp;On bycouturier.com, each dress is made from scratch according to customers' specifications. Currently we need<b>&nbsp;10-15&nbsp;</b>days for Wedding Party &amp; Special Occasion Dresses, Celebrity Dresses, and<b>&nbsp;15-18</b>&nbsp;days for Wedding Dresses. In addition, It might take<b>&nbsp;5-15</b>&nbsp;days more for the tailoring time if the order is during holidays. Thank you for your patience.
                        </p>
                        <p class="p" >
                            Before your order is shipped, bycouturier.com has to process your order and put all your items through its strict quality&nbsp;control tests. Because of this,&nbsp;<b>Total Delivery Time</b>&nbsp;is different from shipping time alone.
                        </p>
                        <p class="p" >
                            <b>Total Delivery Time = Processing Time&nbsp;+ Shipping Time</b>
                        </p>
                        <p class="p" style="font-weight: bold">
                            Please note we do not ship on Saturdays, Sundays, or holidays.
                        </p>
                        <p class="MsoNormal">
                            &nbsp;
                        </p>
                        <p class="MsoNormal" style=" border-bottom: 1px solid #c9c8c8;font-size: 22px;color: #616161">
                            General Return Policies
                        </p>
                        <p class="p" >
                            1.&nbsp;Contact our Customer Service&nbsp;to initiate the return process within 10 days upon receiving your item(s).
                        </p>
                        <p class="p" >
                            Please note that we only accept products in their original condition, and&nbsp;we cannot process any products that are returned without our prior knowledge. If you wish to return any or all parts of your order, you will need to contact customer service&nbsp;at&nbsp;<a style="color: #616161" href="mailto:service@bycouturier.com">service@bycouturier.com</a>&nbsp;or click “Leave a message”
                        </p>
                        <p class="p" >
                            2.&nbsp;Mis-shipped products: Once we have confirmed your&nbsp;mis-shipped items (item shipped different from item ordered), we will be responsible for the item exchange and postage. You may also return the product and get a full refund including postage.
                        </p>
                        <p class="p" >
                            3.&nbsp;Color Errors:&nbsp;If the color of the item received is not what was ordered, you are qualified to get a full refund.
                        </p>
                        <p class="MsoNormal">
                            &nbsp;
                        </p>
                        <p class="MsoNormal" style=" border-bottom: 1px solid #c9c8c8;font-size: 22px;color: #616161">
                            Order Cancellation
                        </p>
                        <p class="p" >
                            We understand that it is a very important undertaking to&nbsp;order a dress for your special occasion, and our cancellation policy was formulated with this in mind. However, it is important to note that our dresses are made to order. Once the tailoring process has begun, the materials cannot be reused
                        </p>
                        <p class="MsoNormal">
                            &nbsp;
                        </p>
                        <p class="MsoNormal" style=" border-bottom: 1px solid #c9c8c8;font-size: 22px;color: #616161">
                            Replacement&nbsp;or Refund
                        </p>
                        <p class="p" >
                            Your satisfaction is of utmost importance to us. Upon arrival of your package, it is suggested that you check the dress to make sure it has been made in accordance with&nbsp;your order specifications. Please try on your dress as soon as possible without altering,&nbsp;washing the dress, or removing the tag. Please note that you need to contact us to initiate the returning process.
                        </p>
                        <p class="p" >
                            If you are returning dresses or accessories, please make sure they are in their original conditions - unworn, unwashed, unaltered, undamaged, clean, free of lint and hair and with tags intact and attached. You will be responsible for all return shipping costs.
                        </p>
                        <p class="MsoNormal">
                            &nbsp;
                        </p>
                        <p class="MsoNormal" style=" border-bottom: 1px solid #c9c8c8;font-size: 22px;color: #616161">
                            Item is the size you ordered but does not fit
                        </p>
                        <p class="p" >
                            The wedding dresses, gowns, and bridesmaid dresses shouldn’t be returned once sales.Your option is to look for a local tailoring service at your own cost. Please note that if your order specifications differ greatly from the final sizing request, re-sizing may not be possible.<b></b>
                        </p>
                        <p class="MsoNormal">
                            &nbsp;
                        </p>
                        <p class="MsoNormal" style=" border-bottom: 1px solid #c9c8c8;font-size: 22px;color: #616161">
                            Color Mismatch
                        </p>
                        <p class="p" >
                            The settings of your computer screen may alter the color of the pictures shown on the site. Slight color aberration&nbsp;may not mean that the dress&nbsp;is defective or mis-shipped. However, if you are positive that you have received the item in a wrong color, please contact Customer Service to see if a return or refund is possible.&nbsp;
                        </p>
                        <p class="MsoNormal">
                            &nbsp;
                        </p>
                        <p class="MsoNormal" style=" border-bottom: 1px solid #c9c8c8;font-size: 22px;color: #616161">
                            Items that cannot be returned or exchanged
                        </p>
                        <p class="p" >
                            1. No returns and no exchanges for personalized items.
                        </p>
                        <p class="p" >
                            2. No returns and no exchanges for perishables, earrings (including jewelry sets containing earrings), and personal care items (including lingerie, etc) due to hygienic reasons.
                        </p>
                        <p class="MsoNormal">
                            &nbsp;
                        </p>
                        <p class="MsoNormal" style=" border-bottom: 1px solid #c9c8c8;font-size: 22px;color: #616161">
                            Return Process
                        </p>
                        <p class="p" >
                            1. Submit a return request at&nbsp;<a style="color: #616161" href="mailto:service@bycouturier.com"><u>service@bycouturier.com</u></a>&nbsp;or click “Leave a message” within 7 days upon receiving your order.Please include an explanation and photographs stating the reason for your return.
                        </p>
                        <p class="p" >
                            We reserve the right not to accept the returns without prior approval from our Customer Service.
                        </p>
                        <p class="p" >
                            2.&nbsp;Once our Customer Service has approved your request, we will provide you with a return address.Please keep the tracking number safe.
                        </p>
                        <p class="p" >
                            3.&nbsp;All the return item(s) will go through inspections. We will process the refund when we confirm that the product has the problems you mentioned.Once the refund has been processed by us, it usually takes 10-15 business days for the funds to be credited to your account, depending on your bank or payment service. Your bank or payment service may levy a small transaction charge.
                        </p>
                        <p class="p" >
                            <b><u>All PayPal payment can only be refunded via PayPal, all Credit Card payment&nbsp;will only be refunded to the original Credit Card.</u></b>
                        </p>
                        <p class="p" >
                            Please Note: we reserve the right not to process the refund if they are returned in unacceptable condition.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>