<style type="text/css">
    .news_detail dd .input_s {
        width: 423px;
        height:70px;
        background: #000000;
        border: 5px none;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        font-weight: 700;
        margin-right: 8%;
        margin-left: 60%;
        display: inline-block;
        margin-bottom: -10px;
        font-family: "constanb";
        font-weight: bold;
    }.news_detail dd .input_s02 {
         width: 423px;
         height: 70px;
         background: #000000;
         border: 5px none;
         cursor: pointer;
         font-size: 24px;
         color: #fff;
         font-weight: 700;
         margin-right: 8%;
         margin-left: 60%;
         display: inline-block;
         margin-bottom: -10px;
         font-family: "constanb";
         font-weight: bold;
    }
    .te_title{
    border-bottom: 1px solid #c9c8c8;
    font-size: 22px;
    color: #616161;
    font-family: gara;
    font-weight: 700;
    width: 95%;
    margin: 10px auto;
    }
    .te_conent{
        line-height: 35px;
    font-size: 18px;
    word-wrap: break-word;
    font-family: GARA;
    text-indent: 20px;
    width: 95%;
    margin: 10px auto;
    text-align: justify;
    }
</style>

<div class="content sub_main" style="min-width: 1260px;width: 1260px">
    <div class="sub_main_box">
        <div class="sub_content" style="margin-top:0;margin: 50px auto!important;">
            <div class="news_detail">
                <div class="detail_box">
                    <div class="title">
                        <h2>TERMS OF USE</h2>
                   
                    </div>
                    <div class="edit">
                        <p class="MsoNormal">
                            TERMS OF USE<o:p></o:p>
                        </p>
                       <p>
                           <div class="te_title">1. INTRODUCTION AND AGREEMENT TO THESE TERMS OF USE</div>
                           <div class="te_conent">By signing up for an account on the Site, you are agreeing to be bound by these website Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.</div>
                           <div class="te_conent">If you do not agree to the Terms now, or if at any time, the Terms are no longer acceptable to you, please cease use of the Site and Services immediately. These Terms constitute a binding agreement between you and us.</div>
                       </p>
                       <p>
                            <div class="te_title">2. SERVICE</div>
                            <div class="te_conent">Mutant Box Limited and its subsidiaries, including but not limited to Mutant Box Interactive Limited ("Bycouturier", "we", or "us") provide the Services ("Services") to you when you shop at Bycouturier.com. When you use any of the Services (e.g., Customer Reviews), you will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, we provide the Services subject to the following conditions. We reserve the right to change this Site and these terms and conditions at any time.</div>
                            <div class="te_conent">i. Intellectual Property</div>
                            <div class="te_conent">All text, graphics, button icons, images, audio clips, and software (collectively, "Content"), belongs exclusively to Bycouturier, its affiliates or cooperating parties. The collection, arrangement, and assembly of all Content on this Site (the "Compilation") belongs exclusively to us, our affiliates or cooperating parties. All software used on this Site (the "Software") is the property of Bycouturier, its affiliates or its Software suppliers. The Content, the Compilation and the Software are all protected by the laws of Hong Kong and international copyright laws.</div>
                            <div class="te_conent">In addition, graphics, logos, page headers, button icons, scripts, and service names included in or made available through the Services are trademarks of Bycouturier in Hong Kong and other countries. All other trademarks not owned by us that appear in Services are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Bycouturier.</div>
                            <div class="te_conent">ii. Risk of Loss</div>
                            <div class="te_conent">All items purchased from Bycouturier are made pursuant to a shipment contract. This means that the risk of loss and title for such items pass to you upon our delivery to the carrier.</div>
                            <div class="te_conent">iii. Returns, Refunds and Title</div>
                            <div class="te_conent">For submitting a return and refund request, you can contact our Customer Service at service@Bycouturier.com within 10 days after receiving the products. Bodysuits, lingerie & sleepwear, swimwear, jewelry, and accessories (except scarves and bags) cannot be returned or exchanged for hygienic reasons. However please note that the customer is responsible for return shipping fee, and shipping and handling charges are not refundable. The return procedure will take approximately 3-4 weeks.</div>
                            <div class="te_conent">We do not take title to returned items until the item arrives at our returns center. </div>
                            <div class="te_conent">At our discretion, a refund may be issued without requiring a return. In this situation, we do not take title to the refunded item. </div>
                            <div class="te_conent">iv. Product Descriptions</div>
                            <div class="te_conent">Bycouturier attempts to be as accurate as possible. However, Bycouturier does not warrant that product descriptions or other content is accurate, complete, reliable, current, or error-free. If a product offered by us itself is not as described, your sole remedy is to return it in unused condition.</div>
                            <div class="te_conent">v. Pricing</div>
                            <div class="te_conent">With respect to items sold on the Websites, we cannot confirm the price of an item until you order. Despite our best efforts, a small number of the items in our catalog may be mispriced. If an item's correct price is higher than our stated price, we will, at our discretion, either contact you for instructions before shipping or cancel your order and notify you of such cancellation.</div>
                            <div class="te_conent">vi. Customs and import charges</div>
                            <div class="te_conent">In most cases, any customs or import duties are charged once the parcel reaches its destination country.</div>
                            <div class="te_conent">You may be charged for handling fees and taxes as your order passes through customs. Any charges on a parcel must be paid by the person receiving the parcel (this also applies to retail & wholesale customers). Bycouturier has no control over these charges and we can’t tell you what the cost would be, as customs policies and import duties vary widely from country to country. It might be a good idea to contact your local customs office for current charges before you order, so you are not surprised by charges you were not expecting.</div>
                           
                        </p>
                        <p>
                                <div class="te_title">3. RIGHTS TO USE THE SERVICE</div>
                                <div class="te_conent">Subject to your compliance with these Terms, Bycouturier grants you a limited, revocable, non-exclusive, non-transferable, non-sublicensable license to use and access the Service, solely for your personal, non-commercial use.</div>
                                <div class="te_conent">You agree not to (and not to attempt to) (i) use the Service for any use or purpose other than as expressly permitted by these Terms or (ii) copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Service or any portion of the Service, except as expressly permitted in these Terms. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by Bycouturier or its licensors, except for the permissions and rights expressly granted in these Terms.</div>
                                <div class="te_conent">If you violate these Terms, Bycouturier reserves the right to issue you a warning regarding the violation or immediately terminate or suspend any or all accounts you have created using the Service. You agree that Bycouturier need not provide you notice before terminating or suspending your account(s), but it may do so.</div>
                                <div class="te_conent">Bycouturier reserves the right to refuse any user access to the Services without notice for any reason, including, but not limited to, a violation of the Terms.</div>
                        </p>
                        <p>
                                <div class="te_title">4. THIRD-PARTY OFFERINGS</div>
                                <div class="te_conent">There may be links included in our Websites or Services which link to third party websites or services. You understand and agree that inclusion of the links does not indicate or in any way imply endorsement by us of any third party, third party websites or any association with the operators of such websites or services. We shall in no case be liable to any damages or losses incurred by you due to your use or access to such websites or services. You understand and agree you will be bound by the terms and conditions with the third parties operating the websites and services.</div>
                               
                        </p>
                        <p>
                                <div class="te_title">5. AGE RESTRICTION</div>
                                <div class="te_conent">You must be at least 13 years of age to use the Site. If you are eighteen (18) years of age or older, you represent that you have read, understood and agree to be bound by the terms. If you are between the ages of thirteen (13) and eighteen (18), you represent that your legal guardian has reviewed and agreed to these terms. If you do not agree with all of these Terms, or you are not at least thirteen (13) years of age, or you are between the ages of thirteen (13) and eighteen (18) and your legal guardian does not agree with all of these Terms, please do not sign up and/or use the Site or Service.</div>
                        </p>
                        <p>
                                <div class="te_title">6. ACCOUNT</div>
                                <div class="te_conent">In order to access the Site and the Services, you are required to register an account. By creating an account, you should choose an email account as the registered account, and set a password when using the site.</div>
                                <div class="te_conent">Your behavior described below is forbidden:</div>
                                <div class="te_conent">i. create an account or access the Service if you are under the age of 13;</div>
                                <div class="te_conent">ii. choose or create an illegal, offensive, racist, obscene, unlawful username;</div>
                                <div class="te_conent">iii. have more than one account at any given time, and shall not create an account using a false identity or information, or on behalf of someone other than yourself;</div>
                                <div class="te_conent">iv. create an account or use the Service if you are a convicted sex offender;</div>
                                <div class="te_conent">v. have an account or use the Service if you have previously been removed by Bycouturier, or previously been banned from purchasing from Site;</div>
                                <div class="te_conent">vi. use your account for any commercial purposes;</div>
                                <div class="te_conent">vii. use your account, the Site or Service to advertise, or solicit, or transmit any commercial advertisements, including chain letters, junk email or repetitive messages (spim and spam) to anyone;</div>
                                <div class="te_conent">viii. use your account or Service to engage in any illegal conduct;</div>
                                <div class="te_conent">ix. access another user's account without permission;</div>
                                <div class="te_conent">x. use the Site or Service in any manner that violates any applicable laws or regulations or is prohibited by these Terms;</div>
                                <div class="te_conent">xi. collect or harvest any information about other users;</div>
                                <div class="te_conent">xii. post, request, or link to sexually explicit, threatening, embarrassing, hateful, racially or ethnically insulting, inciteful, deceptive, tortuous, defamatory, libelous, or otherwise inappropriate or offensive material or conduct;</div>
                                <div class="te_conent">xiii. discuss, promote, or depict any form of child sexuality, abuse, exploitation, or related topics that may be harmful to or threaten the security of a child or minor;</div>
                                <div class="te_conent">xiv. use features of the Site or Service for anything other than their intended purpose;</div>
                                <div class="te_conent">xv. interfere with or disable any security-related features of the Site or Service, or any part thereof, including any Service available on or through any Third Party Platforms;</div>
                                <div class="te_conent">xvi. decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive any code or underlying ideas or algorithms of any part of the Site, including any Service available on or through the Site or Third Party Platforms;</div>
                                <div class="te_conent">xvii. purchase, sell, gift, or trade any account, or offer to purchase, sell, gift or trade any account engage in any other prohibited conduct.</div>
                                <div class="te_conent">If you are in violation of the provisions of the above, We have sole discretion with respect to terminate or suspend your account and hold your responsibility.</div>
                        </p>
                        <p>
                                <div class="te_title">7. INTELLECTUAL PROPERTY RIGHTS</div>
                                <div class="te_conent">Our Site and its content are owned and operated by Bycouturier and its partners. All content, including the forums, the Site, and/or the Services offered are solely owned by Bycouturier and its partners and protected by copyright, trademark, patent, and other intellectual property laws and regulations and other applicable laws and regulations. You acknowledge that you have no claims on, interest in, or license to copy, reproduce, distribute, or otherwise exploit for any commercial purpose the Site and the Services.</div>
                        </p>   
                        <p>
                                <div class="te_title">8. USER CONTENT</div>
                                <div class="te_conent">The Services of Bycouturier enables users to interact online and display and communicate information and content chosen by those users, and that users likewise can alter the service environment on a real-time basis. Bycouturier does not control or endorse the content of communications between users, or users' interactions with each other in the Services. We reserve the right to suspend, alter, remove, or delete User Content, or to limit, temporarily suspend, or permanently terminate access to the Services, if:</div>
                                <div class="te_conent">i. it breaches the Terms or the Policy;</div>
                                <div class="te_conent">ii. it violates the rights of other users or Bycouturier;</div>
                                <div class="te_conent">iii. it is the subject of a complaint;</div>
                                <div class="te_conent">iv. it violates applicable intellectual property laws or it infringes on the copyrights of Bycouturier or any other third party;</div>
                                <div class="te_conent">v. it is of a criminal or unlawful nature;</div>
                                <div class="te_conent">vi. it violates law or requirements of any appropriate regulatory authority;</div>
                                <div class="te_conent">vii. it contains any content or language which, in the sole and absolute discretion of Bycouturier, is deemed to be libelous, defamatory, obscene, pornographic, threatening, invasive of privacy or publicity rights, abusive, illegal, or otherwise -objectionable; or if it contains any deliberate misspellings or alternative spellings to circumvent the content and language restrictions;</div>
                                <div class="te_conent">viii. it points to content deemed by Bycouturier to be inappropriate, including without limitation, any website links or URLs directed to other commercial products or service, or any website links or URLs to any materials (including software and other information) that would allow others to inappropriately access software or websites;</div>
                                <div class="te_conent">ix. it harasses, demeans, abuses, or spams any user or Bycouturier staff;</div>
                                <div class="te_conent">x. it masks your identity for the purpose of posing as any other user, Bycouturier staff, or government official; </div>
                                <div class="te_conent">xi. it contains malicious software or is of a malicious nature, including but not limited to viruses, trojans, keyloggers, or any program that could harm (or is designed to harm) other users' computers or the Services.</div>
                                <div class="te_conent">You agree to not only adhere to the above standards, but also to refrain from encouraging, enabling, or otherwise assisting other users to post or submit User Content that does not comply with the Terms or applicable law. You are solely responsible for any User Content generated by you, as well as its accuracy.</div>
                        </p>
                        <p>
                                <div class="te_title">9. TERMINATION OF SERVICES</div>
                                <div class="te_conent">Notwithstanding the foregoing, Bycouturier, for any reason and in its sole discretion, may decide, in good faith, that any person shall be denied access to any part of the Services or the Site. We may suspend, terminate, modify, or delete any Bycouturier account at any time for any reason with or without any notice to you. You acknowledge that you are not entitled to a refund, in whole or in part, for any anything in connection with the terminated account.</div>
                                <div class="te_conent">You agree to cease and desist immediately from any attempt to access the Site and/or your account upon issuance of termination. If you do not cease and desist, you hereby consent to an injunction to be entered against you by a court of competent jurisdiction, as provided herein, permanently enjoining you from attempting to access the Services.</div>
                        </p>
                        <p>
                                <div class="te_title">10. LIMITATIONS</div>
                                <div class="te_conent">In no event shall Bycouturier or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on the site, even if Bycouturier or a Bycouturier authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</div>
                        </p>
                        <p>
                                <div class="te_title">11. SITE TERMS OF USE MODIFICATIONS</div>
                                <div class="te_conent">Bycouturier may revise these terms of use for the site at any time without notice. By using this website you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</div>
                        </p>
                        <p>
                                <div class="te_title">12. DISCLAIMER OF WARRANTIES</div>
                                <div class="te_conent">The Site and Service are provided on an "as is” and "as available" basis and we do not represent, warrant, or guarantee that the Site or Service, will be uninterrupted, error-free, virus-free, or that defects will be corrected. You agree that your access and use of the Site and Service shall be at your sole risk. To the fullest extent permitted by law, Bycouturier, its officers, directors, employees, and agents disclaim all warranties, express or implied, in connection with the Site and Service and your use thereof, including implied warranties of title, merchantability, fitness for a particular purpose, non-infringement, accuracy, authority, completeness, usefulness, and timeliness. Bycouturier makes no warranties or representations about the accuracy or completeness of the content of the Service or the content of any sites linked to the Service and/or Site and assumes no liability or responsibility for any:</div>
                                <div class="te_conent">i. errors, mistakes, or inaccuracies of content;</div>
                                <div class="te_conent">ii. personal injury or property damage, of any nature whatsoever, resulting from your access to and use of the Service or Site;</div>
                                <div class="te_conent">iii. any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein;</div>
                                <div class="te_conent">iv. any interruption or cessation of transmission to or from the Service;</div>
                                <div class="te_conent">v. any bugs, viruses, trojan horses, or the like which may be transmitted to or through the Service or Site by any third party;</div>
                                <div class="te_conent">vi. any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available via the Service and/or Site;</div>
                                <div class="te_conent">vii. disputes between you and other users.</div>
                              
                        </p>
                        <p>
                                <div class="te_title">13. GOVERNING LAW</div>
                                <div class="te_conent">Mutant Box Limited is the owner of this website. For Europe transactions Mutant Box Interactive Limited is the contractual party and for other Asian countries, Mutant Box Limited is the contractual party. The Terms and all matters or disputes arising out of or relating to the Terms or the Services will be governed by, construed, and enforced in accordance with the laws of Hong Kong (without regard to any principles of conflicts of laws). All claims arising out of or relating to the Terms, the Services, or the Site shall be exclusively submitted to the Hong Kong International Arbitration Centre.</div>
                        </p>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>