<?php
    use yii\helpers\Html;
    use yii\helpers\Url;
?>
<?php $this->beginPage();?>
<!DOCTYPE html>
<html lang="<?=Yii::$app->language;?>">
<head>
    <meta charset="<?=Yii::$app->charset;?>">
    <?=Html::csrfMetaTags();?>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-US" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title><?=isset($this->params['meta_title'])?$this->params['meta_title']:'';?></title>
    <meta name="keywords" content="<?=isset($this->params['keyword'])?$this->params['keyword']:'';?>">
    <meta name="description" content="<?=isset($this->params['description'])?$this->params['description']:'';?>">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="<?=__CSS__?>/base.css">
    <link rel="stylesheet" type="text/css" href="<?=__CSS__?>/style.css">
    <link rel="stylesheet" type="text/css" href="<?=__CSS__?>/<?=LANG_SET?>/style_<?=LANG_SET?>.css">
    <link rel="stylesheet" type="text/css" href="<?=__CSS__?>/iconfont.css">
    <link rel="stylesheet" type="text/css" href="<?=__STATIC__?>/jcrop/css/jquery.Jcrop.css">
    <script src="<?=__JS__?>/respond.src.js" type="text/javascript"></script>
    <script type="text/javascript" src="<?=__JS__?>/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="<?=__JS__?>/jquery.cookie.js"></script>
    <script type="text/javascript" src="<?=__JS__?>/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="<?=__JS__?>/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="<?=__JS__?>/layer/layer.js"></script>
    <script type="text/javascript" src="<?=__JS__?>/jquery.form.js"></script>
    <script type="text/javascript" src="<?=__JS__?>/jquery.validate.min.js"></script>
    <script type="text/javascript" src="<?=__JS__?>/jquery.validate_<?=LANG_SET?>.js"></script>
    <script type="text/javascript" src="<?=__JS__?>/common.js"></script>
    <script type="text/javascript" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=<?=FB_VERSION?>&appId=<?=FB_APPID?>"></script>
    <style>
            *{
            text-decoration: none;
            list-style: none;
        }
        .page-body{overflow: hidden;}
        .page-container .main-content{padding: 0;} /*使iframe滚动条存在于最右边*/
        .main-content>div{margin-top: 20px;}
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K5MP5DH');</script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
        document.domain = "<?=Yii::$app->params['COOKIE_DOMAIN']?>";

        var loginFacebookCallback = function(response){
            console.log("loginFacebookCallback:");
            console.log(response);
            $.post("/ucenter/loginfb", {token:response.authResponse.accessToken,app_type:"bycouturier"}, function(data){
                if (data.code > 0){
                    layer_alert(data.error);
                }
                else{
                    <?php if(isset($this->params['referer'])){?>
                        window.location.href='<?=$this->params['referer']?>';
                    <?php }else{ ?>
                        location.reload();
                    <?php } ?>
                }
            });
        }

        var loginGoogleCallback = function(authResult){
            console.log("loginGoogleCallback:");
            console.log(authResult);
            $.post("/ucenter/logingg", {code:authResult.code, app_type: "bycouturier"}, function(data){
                if (data.code > 0){
                    layer_alert(data.error);
                }
                else{
                    <?php if(isset($this->params['referer'])){?>
                        window.location.href='<?=$this->params['referer']?>';
                    <?php }else{ ?>
                        location.reload();
                    <?php } ?>
                }
            });
        }
    </script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=<?=FB_VERSION?>&appId=<?=FB_APPID?>";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        function start() {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: '455615275123-gnkurafbvjr751fioggsujmrli55ltu8.apps.googleusercontent.com'
                })
            });
        }

        function open_recharge(){
            layer.alert('<?=\YII::t('common','rechargeAlert')?>',
                    {title: false, btn: "", shadeClose: true, shade: [0.7, '#000'], offset: "auto", time: 2000});
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '<?=FB_APPID?>',
                cookie: true, // This is important, it's not enabled by default
                version: '<?=FB_VERSION?>'
            });
        };
    </script>
    <script  type="text/javascript">
        $(function(){
            jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,interTime:4000});
            TouchSlide({slideCell:"#focus",titCell:".hd ul",mainCell:".bd ul",effect:"leftLoop",autoPlay:true,autoPage:true,interTime:4000});
            function fangfa(){
                var bodyw=$(window).width();
                var bodyw=$('body').width();
                if( bodyw > 960 ){
                    $('.pc_banner .bd ul,.pc_banner .bd li').width(bodyw);
                    var imgh=$('.pc_banner .bd li').outerHeight();
                    $('.pc_banner .bd ul').height(imgh)
                }
                //
                var main_box=$('.main_box'),rightH=main_box.find('.left_r').height();
                if( bodyw > 640 ){
                    main_box.find('.facebook_con').css({height:rightH});
                }else{
                    main_box.find('.facebook_con').css({height:'auto'});
                }
                //
                var role_box=$('.role_box .con'),scene_box=$('.scene_box .con');
                role_box.css({marginTop:-role_box.outerHeight()/2});
                scene_box.css({marginTop:-scene_box.outerHeight()/2});

                // xiaosong S
                //
                var imgH=$('.right_l_t').height();
                $('.facebook_big,.facebook_small').height(imgH);//imgH/5*2
                $('.in_video').height(imgH/5*3);
                // xiaosong E
            }
            window.onload=function(){fangfa()};
            $(window).resize(function(){fangfa()});

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-69020159-1', 'auto');
            ga('send', 'pageview');
        })
    </script>

</head>
<body>
<!-- 头部 -->
<!-- ./头部 -->
<?php $this->beginBody();?>


<?=$content?>


<?php $this->endBody();?>
<!-- 底部 -->
<div class="footer">
    <div class="content clearfix">
        <div class="share" style="display:none">
            <ul>
                <li><a target="_blank" href="https://www.facebook.com/LiberatorsGame"><i class="icon iconfont"></i><span><?=Yii::t('common','LinkFacebook')?></span></a></li>
                <li><a target="_blank" href="https://twitter.com/LiberatorsGame"><i class="icon iconfont"></i><span><?=Yii::t('common','LinkTwitter')?></span></a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UC48NkKAi0dMOaoAFVty1MmA"><i class="icon iconfont" style="font-size:30px;">&#xe60f;</i><span><?=Yii::t('common','LinkYouTube')?></span></a></li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li><a href="/termsofuse">Terms of use</a></li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
                <li><a href="/deliverypolicy">Delivery Policy</a></li>
                <li><a href="/support">Support</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li class="copy" style="float:none;margin-top:40px;">
                    <p style="font-family:GARA;">© 2015-2017 Shanghai LaiWan Technology Co.,Ltd</p>
                    <p style="font-family:GARA;margin-top: -10px;">Rm 1217,NO.6 Building,NO.768,ChenXiang Rd,Jiading District, Shanghai.</p>
                </li>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="layer">
    <?php if($this->params['is_login'] == 0){?>
        <div class="login dialog_box">
            <h2><?=Yii::t('common','login')?></h2>
            <div class="other_user">
                <span style="height:25px; display:block;"></span>
                <div style="margin-left: 88px;">
                    <iframe src="<?=UCENTER_URL?>user/login?large=1" style="height:134px; width:310px; border:0" scrolling="no" frameborder="0" ></iframe>
                </div>
            </div>
            <div class="or"><span><?=Yii::t('common','or')?></span><i></i></div>
            <div class="user_box">
                <form action="/ucenter/login" method="post" class='login_form'>
                    <ul>
                        <li><input name="email" type="text" placeholder="<?=Yii::t('common','Email')?>" class="layer_text"></li>
                        <li><input name="password" type="password" placeholder="<?=Yii::t('common','PasswordPrompt')?>" class="layer_text"></li>

                        <li><label><input name="remeber_time" type="checkbox" value="30" checked><span><?=Yii::t('common','Remember Me')?></span></label><font><a href="javascript:showDialog('#pwd_email');"><?=Yii::t('common','Forgot Password')?></a></font></li>
                        <li><p><input type="submit" value="<?=Yii::t('common','login')?>" class="layer_sub"></p></li>
                        <li><p><a href="javascript:showDialog('.registered')"><?=Yii::t('common','accountSign')?></a></p></li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="registered dialog_box">
            <h2><?=Yii::t('common','SignUp')?></h2>
            <div class="other_user">
                <span style="height:25px; display:block;"></span>
                <div style="margin-left: 88px;">
                    <iframe src="<?=UCENTER_URL?>user/login?large=1" style="height:134px; width:310px; border:0" scrolling="no" frameborder="0" ></iframe>
                </div>
            </div>
            <div class="or"><span><?=Yii::t('common','or')?></span><i></i></div>
            <div class="user_box">
                <form action="/ucenter/register" method="post" class="reg_form">
                    <ul>
                        <li><input name="email" type="text" placeholder="<?=Yii::t('common','Email')?>" class="layer_text" id="reg_email"></li>
                        <li><input name="password" type="password" id="password" placeholder="<?=Yii::t('common','PasswordPrompt')?>" class="layer_text"></li>

                        <li class="zhuce"><input type="submit" value="<?=Yii::t('common','SignUp')?>" class="layer_sub"><span><?=Yii::t('common','accept')?><a href="/TermsofUse"><?=Yii::t('common','terms')?></a><?=Yii::t('common','playAge')?></span></li>
                        <li><p><a href="javascript:showDialog('.login')"><?=Yii::t('common','account')?></a></p></li>
                    </ul>
                </form>
            </div>
        </div>
    <?php }?>

    <div class="retrieve dialog_box" id="pwd_email">
        <h2><?=Yii::t('common','Password')?></h2>
        <div class="other_user">
            <p><?=Yii::t('common','EnterEmail')?></p>
        </div>
        <div class="user_box">
            <form action="/ucenter/getpassword" method="post" class="getPwd_form">
                <ul>
                    <li><input name="email" type="text" placeholder="<?=Yii::t('common','Email')?>" class="layer_text"></li>
                    <li>&nbsp;</li>
                    <li class="forgot_password"><p><input type="submit" value="<?=Yii::t('common','FindPassword')?>" class="layer_sub"></p></li>
                </ul>
            </form>
        </div>
    </div>

    <?php if(isset($this->params['get_password_code']) && $this->params['get_password_code']){?>
        <div class="retrieve dialog_box" id="reset_pwd">
            <h2><?=Yii::t('common','ResetPassword')?></h2>
            <div class="user_box">
                <form action="/ucenter/repassword" method="post" class="repwd_form">
                    <ul>
                        <li><input name="password" type="password" placeholder="<?=Yii::t('common','PasswordPrompt')?>" id="rep_password" class="layer_text"></li>
                        <li><input name="repassword" type="password" placeholder="<?=Yii::t('common','PasswordPrompt')?>" class="layer_text"></li>
                        <input name="email" type="hidden" value="<?=$this->params['email']?>" />
                        <li><p><input type="submit" value="<?=Yii::t('common','ok')?>" class="layer_sub"></p></li>
                    </ul>
                </form>
            </div>
        </div>
    <?php }?>

    <?php if($this->params['is_login']){?>
        <div class="copy_gift dialog_box">
            <p style="padding-top:40px;"><?=Yii::t('common','redeemGame')?></p>
            <p style="padding-top:20px;"><input name="" type="text" value="BYFXYAAADrmYmWex" class="layer_text" disabled="disabled"></p>
            <p><a href="javascript:;" class="copy_gift_sub"><?=Yii::t('common','ok')?></a></p>
        </div>
    <?php } ?>

    <?php if($this->params['is_login']){?>
        <div class="exit_tip dialog_box logout_layer">
        <div class="exit_tipbox">
            <!-- <div class="fl"><span></span></div> -->
            <div class="fr"><?=Yii::t('common','wangLogOut')?></div>
            <div class="sub_box">
                <a href="/ucenter/logout" class="sub"><?=Yii::t('common','ok')?></a>
                <a href="javascript:layer.closeAll();" class="sub sub02"><?=Yii::t('common','Cancel')?></a>
            </div>
        </div>
    </div>
    <?php } ?>
</div>

<?php if(isset($this->params['get_password_js'])){?>
        <?=$this->params['get_password_js']?>
<?php }?>

<?php if($this->params['login_show'] == 1){?>
    <script type="text/javascript">
        dialog('.login', "", true, 2);
    </script>
<?php }?>

<script type="text/javascript" src="<?=__JS__?>/common.js"></script>
<script>
    var scrollTop = 0;
    function setscrollTop(){
        $('.focus img').each(function(index, el) {
            if ($(el).height() > 0) {
                scrollTop = $(el).height();
                return false;
            }
        });
    }


    $(function () {
        setscrollTop();
        $(window).bind('scroll', function(){
            var fixedHeight = 362;
            var bannerHeight = scrollTop;
            if($(document).scrollTop() + $(window).height() >= ($(window).height() - fixedHeight) / 2 + fixedHeight + bannerHeight + $('header').height()) {
                $('.side-share').css({"display":"block"});
                $('.side-share').stop().animate({"opacity":1},200);
            } else {
                $('.side-share').stop().animate({"opacity":0},200,function(){
                    $(this).css({"display":"none"});
                });
            }
        });

        $(window).resize(function () {
            setscrollTop();
        });

        $(".getPwd_form").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            submitHandler: function (form)
            {
                getPwd_box_index = layer.msg('<?=Yii::t('common','Loading')?>', {icon: 16, time: 0, shadeClose: true, shade: [0.7, '#000']});
                $(form).ajaxSubmit({
                    success: getPwdResponse
                });
            }
        });

        function getPwdResponse(result)
        {
            layer.close(getPwd_box_index);
            if (result.error > 0)
            {
                layer.alert(result.msg, {title: false, btn: "", shadeClose: true, shade: [0.7, '#000'], offset: "auto", time: 2000});
            }
            else
            {
                layer.alert(result.msg, {title: false, btn: "", shadeClose: true, shade: [0.7, '#000'], offset: "auto", time: 2000, end: function (index) {
                    location.reload();
                }
                })
            }
        }

        $(".repwd_form").validate({
            rules: {
                password: {
                    required: true,
                    rangelength: [6, 20]
                },
                repassword: {
                    equalTo: "#rep_password"
                }
            },
            submitHandler: function (form)
            {
                rePwd_box_index = layer.msg('<?=Yii::t('common','Loading')?>', {icon: 16, time: 0, shadeClose: true, shade: [0.7, '#000']});
                $(form).ajaxSubmit({
                    success: rePwdResponse
                });
            }
        });

        function rePwdResponse(result)
        {
            layer.close(rePwd_box_index);
            if (result.error > 0)
            {
                layer.alert(result.msg, {title: false, btn: "", shadeClose: true, shade: [0.7, '#000'], offset: "auto", time: 2000, end: function (index) {
                    location.href = "/";
                }
                });
            }
            else
            {
                layer.alert(result.msg, {title: false, btn: "", shadeClose: true, shade: [0.7, '#000'], offset: "auto", time: 1000, end: function (index) {
                    location.href = "/";
                }
                });
            }
        }

        $(".reg_form").validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/ucenter/checkuser",
                        type: "post",
                        dataType: "json"
                    }
                },
                password: {
                    required: true,
                    rangelength: [6, 20]
                }
            },
            messages: {
                email: {
                    remote: "Email already exists."
                }
            },
            submitHandler: function (form)
            {
                reg_box_index = layer.msg('<?=Yii::t('common','Loading')?>', {icon: 16, time: 0, shadeClose: true, shade: [0.7, '#000']});
                $(form).ajaxSubmit({
                    success: regBoxResponse
                });
            }
        });

        $(".header_reg_form").validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/ucenter/checkuser",
                        type: "post",
                        dataType: "json"
                    }
                },
                password: {
                    required: true,
                    rangelength: [6, 20]
                }
            },
            messages: {
                email: {
                    remote: "Email already exists."
                }
            },
            submitHandler: function (form)
            {
                reg_box_index = layer.msg('<?=Yii::t('common','Loading')?>', {icon: 16, time: 0, shadeClose: true, shade: [0.7, '#000']});
                $(form).ajaxSubmit({
                    success: regBoxResponse
                });
            }
        });

        $(".login_form").validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "/ucenter/checkuser",
                        type: "post",
                        dataType: "json",
                        data: {
                            type: "checked"
                        }
                    }
                },
                password: {
                    required: true,
                    rangelength: [6, 20],
                    remote: {
                        url: "/ucenter/checkpwd",
                        type: "post",
                        dataType: "json",
                        data: {
                            email: function () {
                                return $(".login_form input[name='email']").val();
                            }
                        }
                    }
                }
            },
            messages: {
                email: {
                    remote: "<?=Yii::t('common','emailNotFound')?>"
                },
                password: {
                    remote: "<?=Yii::t('common','passwordError')?>"
                }
            },
            submitHandler: function (form)
            {
                logging_box_index = layer.msg('<?=Yii::t('common','Loading')?>', {icon: 16, time: 0, shade: [0.7, '#000']});
                $(form).ajaxSubmit({
                    success: loginBoxResponse
                });
            }
        });

        $(".header_login_form").validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: "<?=Url::to(['/ucenter/checkuser']);?>",
                        type: "post",
                        dataType: "json",
                        data: {
                            type: "checked"
                        }
                    }
                },
                password: {
                    required: true,
                    rangelength: [6, 20],
                    remote: {
                        url: "/ucenter/checkpwd",
                        type: "post",
                        dataType: "json",
                        data: {
                            email: function () {
                                return $(".header_login_form input[name='email']").val();
                            }
                        }
                    }
                }
            },
            messages: {
                email: {
                    remote: "<?=Yii::t('common','emailNotFound')?>"
                },
                password: {
                    remote: "<?=Yii::t('common','passwordError')?>"
                }
            },
            submitHandler: function (form)
            {
                logging_box_index = layer.msg('<?=Yii::t('common','Loading')?>', {icon: 16, time: 0, shade: [0.7, '#000']});
                $(form).ajaxSubmit({
                    success: loginBoxResponse
                });
            }
        });
    })

    function regBoxResponse(result)
    {
        layer.close(reg_box_index);
        if (result.code > 0)
        {
            layer.alert('<?=Yii::t('common','passwordError')?>', {title: false, btn: "", shadeClose: true, shade: [0.7, '#000'], offset: "auto", time: 2000});
        }
        else
        {
            //GG GTM
            console.log('signup dataLayer:jump....')
            dataLayer.push({
                'event': 'signup',
                'visitorType': 'high-value',

                'eventCallback': function() {
                    <?php if(isset($this->params['referer'])){?>
                        window.location.href='<?=$this->params['referer']?>';
                    <?php }else{ ?>
                        location.reload();
                    <?php } ?>
                }
            });

        }
    }



    function loginBoxResponse(result)
    {
        layer.close(logging_box_index);
        if (result.code > 0)
        {
            layer.alert('<?=Yii::t('common','passwordError')?>', {title: false, btn: "", shadeClose: true, shade: [0.7, '#000'], offset: "auto", time: 2000});
        }
        else
        {
            //GG GTM
            console.log('login dataLayer:jump...')
            dataLayer.push({
                'event': 'login',
                'visitorType': 'high-value',
                'eventCallback': function() {
                    <?php if(isset($this->params['referer'])){?>
                        window.location.href='<?=$this->params['referer']?>';
                    <?php }else{ ?>
                        location.reload();
                    <?php } ?>
                }
            });
        }
    }

</script>
<script type="text/javascript">
    function fangfa() {
        var bodyw = $(window).width();
        var bodyw = $('body').width();
        if (bodyw > 960) {
            $('.pc_banner .bd ul,.pc_banner .bd li').width(bodyw)
            var imgh = $('.pc_banner .bd li img').height();
            $('.pc_banner .bd ul').height(imgh);
            $(".slideBox").slide({mainCell: ".bd ul", effect: "fold", autoPlay: true, interTime: 4000});
        }
        else
        {
            TouchSlide({slideCell: "#focus", titCell: ".hd ul", mainCell: ".bd ul", effect: "leftLoop", autoPlay: true, autoPage: true, interTime: 4000});
        }
        //
        var main_box = $('.main_box'), rightH = main_box.find('.left_r').height();
        if (bodyw > 640) {
            main_box.find('.facebook_con').css({height: rightH});
        } else {
            main_box.find('.facebook_con').css({height: 'auto'});
        }
        //

        var role_box = $('.role_box .con'), scene_box = $('.scene_box .con');
        role_box.css({marginTop: -role_box.outerHeight() / 2});
        scene_box.css({marginTop: -scene_box.outerHeight() / 2});

        // xiaosong S
        //
        var imgH=$('.right_l_t').height();
        //$('.facebook_big,.facebook_small').height(imgH/5*2);
        $('.facebook_big,.facebook_small').height(imgH);
        $('.in_video').height(imgH/5*3);
        // xiaosong E
    }


    $(function () {
        fangfa();
        $(window).resize(function () {
            fangfa();
        });
    })

    function changeLang(language){
        $.cookie('think_language',language,{'path':'/',domain:'<?=\YII::$app->params['COOKIE_DOMAIN']?>'});
        window.location.reload();
    }


</script>
</body>
</html>
<!-- ./底部 -->
<?php $this->endPage();?>
