.g_renwu_commanders h3,.game_binzhong .arms_class_r ul li,.edit,.tit,.content_box .con,.content_box .item .text,.con_404,.service_con,.showDetail {direction:rtl;}
.tit,.content_box .con,.edit,.service_con {text-align:left;}
.layer_sub{font-size:18px !important;}
.service_in_box .sercice_cont p a{
    margin-left: 43px!important;
}
.news_detail dd .input_s,.news_detail dd .input_s02{
    font-size: 16px!important;
}
span.login>a {
    position: relative!important;
    left: 10px!important;
}
.login{
    background-position: 6px 7px!important;
}
.user_con_bd dt{
    width: 158px!important;
    padding-right: 0px !important;
}